<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <h3>Rulebook</h3>
    <div class="row">
      <div>
        <button id="articles" class="btn btn-sm btn-primary">Articles</button>
        <button id="my_club" class="btn btn-sm btn-primary">My Club</button>
        <button id="turns" class="btn btn-sm btn-primary">Turn Report</button>
        <button id="player" class="btn btn-sm btn-primary">Players</button>
        <button id="turnsheet" class="btn btn-sm btn-primary">Turnsheet</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div id="video"></div>
      </div>
    </div>
  </div>
</div>

<script>
    const articlesButton = document.getElementById("articles");
    const myClubButton = document.getElementById("my_club");
    const turnsButton = document.getElementById("turns");
    const playerButton = document.getElementById("player");
    const turnsheetButton = document.getElementById("turnsheet");

    const video = document.getElementById("video");

    articlesButton.addEventListener("click", showArticles);
    myClubButton.addEventListener("click", showMyClub);
    turnsButton.addEventListener("click", showTurns);
    playerButton.addEventListener("click", showPlayer);
    turnsheetButton.addEventListener("click", showTurnsheet);

    function showArticles() {
      video.innerHTML = "<%= j render 'articles' %>";
    }

    function showMyClub() {
      video.innerHTML = "<%= j render 'my_club' %>";
    }

    function showTurns() {
      video.innerHTML = "<%= j render 'turn_report' %>";
    }

    function showPlayer() {
      video.innerHTML = "<%= j render 'player' %>";
    }

    function showTurnsheet() {
      video.innerHTML = "<%= j render 'turnsheet' %>";
    }
  </script>