<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <h3>Rulebook</h3>
    <div class="row">
      <div>
        <button id="introduction" class="btn btn-sm btn-primary">Introduction</button>
        <button id="articles" class="btn btn-sm btn-primary">Articles</button>
        <button id="my_club" class="btn btn-sm btn-primary">My CLub</button>
        <button id="turns" class="btn btn-sm btn-primary">Turns</button>
        <button id="cups" class="btn btn-sm btn-primary">Cups</button>
        <button id="player" class="btn btn-sm btn-primary">Players</button>
        <button id="transfers" class="btn btn-sm btn-primary">Transfers</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div id="video"></div>
      </div>
    </div>
  </div>
</div>

<script>
    const introductionButton = document.getElementById("introduction");
    const articlesButton = document.getElementById("articles");
    const myClubButton = document.getElementById("my_club");
    const turnsButton = document.getElementById("turns");
    const cupsButton = document.getElementById("cups");
    const playerButton = document.getElementById("player");
    const transfersButton = document.getElementById("transfers");

    const video = document.getElementById("video");

    introductionButton.addEventListener("click", showIntroduction);
    articlesButton.addEventListener("click", showArticles);
    myClubButton.addEventListener("click", showMyClub);
    turnsButton.addEventListener("click", showTurns);
    cupsButton.addEventListener("click", showCups);
    playerButton.addEventListener("click", showPlayer);
    transfersButton.addEventListener("click", showTransfers);

    function showIntroduction() {
      video.innerHTML = "<%= j render 'introduction' %>";
    }

    function showArticles() {
      video.innerHTML = "<%= j render 'articles' %>";
    }

    function showMyClub() {
      video.innerHTML = "<%= j render 'my_club' %>";
    }

    function showTurns() {
      video.innerHTML = "<%= j render 'turns' %>";
    }

    function showCups() {
      video.innerHTML = "<%= j render 'cups' %>";
    }

    function showPlayer() {
      video.innerHTML = "<%= j render 'player' %>";
    }

    function showTransfers() {
      video.innerHTML = "<%= j render 'transfers' %>";
    }
  </script>