<div id="<%= dom_id club %>">
        <td><%= club.name %></td>
        <td><%= club.club_id %></td>
        <td><%= club.league %></td>
        <td><%= link_to "Show", club_path(club.club_id), class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to "Edit", edit_club_path(club.club_id), class: "btn btn-sm btn-primary" %></td>
      </tr>
</div>

