<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
        <% club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :id, value: club.id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :managed, style: "display: block" %>
    <%= form.text_field :managed %>
  </div>

    <div>
    <%= form.label :ground_name, style: "display: block" %>
    <%= form.text_field :ground_name %>
  </div>

  <div>
    <%= form.label :stand_n_name, style: "display: block" %>
    <%= form.text_field :stand_n_name %>
  </div>

  <div>
    <%= form.label :stand_n_condition, style: "display: block" %>
    <%= form.text_field :stand_n_condition %>
  </div>

  <div>
    <%= form.label :stand_n_capacity, style: "display: block" %>
    <%= form.text_field :stand_n_capacity %>
  </div>

  <div>
    <%= form.label :stand_s_name, style: "display: block" %>
    <%= form.text_field :stand_s_name %>
  </div>

  <div>
    <%= form.label :stand_s_condition, style: "display: block" %>
    <%= form.text_field :stand_s_condition %>
  </div>

  <div>
    <%= form.label :stand_s_capacity, style: "display: block" %>
    <%= form.text_field :stand_s_capacity %>
  </div>

  <div>
    <%= form.label :stand_e_name, style: "display: block" %>
    <%= form.text_field :stand_e_name %>
  </div>

  <div>
    <%= form.label :stand_e_condition, style: "display: block" %>
    <%= form.text_field :stand_e_condition %>
  </div>

  <div>
    <%= form.label :stand_e_capacity, style: "display: block" %>
    <%= form.text_field :stand_e_capacity %>
  </div>

  <div>
    <%= form.label :stand_w_name, style: "display: block" %>
    <%= form.text_field :stand_w_name %>
  </div>

  <div>
    <%= form.label :stand_w_condition, style: "display: block" %>
    <%= form.text_field :stand_w_condition %>
  </div>

  <div>
    <%= form.label :stand_w_capacity, style: "display: block" %>
    <%= form.text_field :stand_w_capacity %>
  </div>

    <div>
    <%= form.label :pitch, style: "display: block" %>
    <%= form.text_field :pitch %>
  </div>

  <div>
    <%= form.label :hospitality, style: "display: block" %>
    <%= form.text_field :hospitality %>
  </div>

  <div>
    <%= form.label :facilities, style: "display: block" %>
    <%= form.text_field :facilities %>
  </div>

  <div>
    <%= form.label :staff_fitness, style: "display: block" %>
    <%= form.text_field :staff_fitness %>
  </div>

  <div>
    <%= form.label :staff_gkp, style: "display: block" %>
    <%= form.text_field :staff_gkp %>
  </div>

  <div>
    <%= form.label :staff_dfc, style: "display: block" %>
    <%= form.text_field :staff_dfc %>
  </div>

  <div>
    <%= form.label :staff_mid, style: "display: block" %>
    <%= form.text_field :staff_mid %>
  </div>

  <div>
    <%= form.label :staff_att, style: "display: block" %>
    <%= form.text_field :staff_att %>
  </div>

  <div>
    <%= form.label :staff_scouts, style: "display: block" %>
    <%= form.text_field :staff_scouts %>
  </div>

  <div>
    <%= form.label :color_primary, style: "display: block" %>
    <%= form.text_field :color_primary %>
  </div>

  <div>
    <%= form.label :color_secondary, style: "display: block" %>
    <%= form.text_field :color_secondary %>
  </div>

  <div>
    <%= form.label :bank_bal, style: "display: block" %>
    <%= form.text_field :bank_bal %>
  </div>

  <div>
    <%= form.label :league, style: "display: block" %>
    <%= form.text_field :league %>
  </div>

  <div>
    <%= form.label :fan_happiness, style: "display: block" %>
    <%= form.text_field :fan_happiness %>
  </div>

  <div>
    <%= form.label :fanbase, style: "display: block" %>
    <%= form.text_field :fanbase %>
  </div>

  <div>
    <%= form.label :ticket_price, style: "display: block" %>
    <%= form.text_field :ticket_price %>
  </div>

  <div>
    <%= form.submit 'Save', class: "btn btn-sm btn-danger" %>
  </div>
<% end %>
