<h3 class="text-center">Hidden Skills</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">Pot PA</th>
      <th scope="col">Pot CO</th>
      <th scope="col">Pot TA</th>
      <th scope="col">Pot RU</th>
      <th scope="col">Pot SH</th>
      <th scope="col">Pot DR</th>
      <th scope="col">Pot DF</th>
      <th scope="col">Pot OF</th>
      <th scope="col">Pot FL</th>
      <th scope="col">Pot ST</th>
      <th scope="col">Pot CR</th>
      <th scope="col">Cons</th>

    </tr>
  </thead>
  <tbody>
    <% Player.where(club: params[:id]).order(Arel.sql("CASE pos WHEN 'gkp' THEN 1 WHEN 'dfc' THEN 2 WHEN 'mid' THEN 3 WHEN 'att' THEN 4 ELSE 5 END")).each do |player| %>
      <tr scope="row">
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.nationality %></td>
        <td><%= player.pos %></td>
        <td><%= player.pot_pa %></td>
        <td><%= player.pot_co %></td>
        <td><%= player.pot_ta %></td>
        <td><%= player.pot_ru %></td>
        <td><%= player.pot_sh %></td>
        <td><%= player.pot_dr %></td>
        <td><%= player.pot_df %></td>
        <td><%= player.pot_of %></td>
        <td><%= player.pot_fl %></td>
        <td><%= player.pot_st %></td>
        <td><%= player.pot_cr %></td>
        <td><%= player.cons %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>