<h3 class="text-center">Hidden Skills</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">Pot PA</th>
      <th scope="col">Pot CO</th>
      <th scope="col">Pot TA</th>
      <th scope="col">Pot RU</th>
      <th scope="col">Pot SH</th>
      <th scope="col">Pot DR</th>
      <th scope="col">Pot DF</th>
      <th scope="col">Pot OF</th>
      <th scope="col">Pot FL</th>
      <th scope="col">Pot ST</th>
      <th scope="col">Pot CR</th>
      <th scope="col">consistency</th>

    </tr>
  </thead>
  <tbody>
    <% Player.where(club: params[:id]).order(Arel.sql("CASE position WHEN 'gkp' THEN 1 WHEN 'dfc' THEN 2 WHEN 'mid' THEN 3 WHEN 'att' THEN 4 ELSE 5 END")).each do |player| %>
      <tr scope="row">
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.nationality %></td>
        <td><%= (player.position + player.player_position_detail).upcase %></td>
        <td><%= player.potential_passing %></td>
        <td><%= player.potential_control %></td>
        <td><%= player.potential_tackling %></td>
        <td><%= player.potential_running %></td>
        <td><%= player.potential_shooting %></td>
        <td><%= player.potential_dribbling %></td>
        <td><%= player.potential_defensive_heading %></td>
        <td><%= player.potential_offensive_heading %></td>
        <td><%= player.potential_flair %></td>
        <td><%= player.potential_strength %></td>
        <td><%= player.potential_creativity %></td>
        <td><%= player.consistency %></td>
      </tr>
    <% end %>
  </tbody>
</table>
