<h3 class="text-center">Skills</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">PA</th>
      <th scope="col">CO</th>
      <th scope="col">TA</th>
      <th scope="col">RU</th>
      <th scope="col">SH</th>
      <th scope="col">DR</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">FL</th>
      <th scope="col">ST</th>
      <th scope="col">CR</th>
      <th scope="col">Fit</th>
    </tr>
  </thead>
  <tbody>
    <% Player.where(club: params[:id]).order(Arel.sql("CASE pos WHEN 'gkp' THEN 1 WHEN 'dfc' THEN 2 WHEN 'mid' THEN 3 WHEN 'att' THEN 4 ELSE 5 END")).each do |player| %>
      <tr scope="row">
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.nationality %></td>
        <td><%= player.pos %></td>
        <td><%= player.pa %></td>
        <td><%= player.co %></td>
        <td><%= player.ta %></td>
        <td><%= player.ru %></td>
        <td><%= player.sh %></td>
        <td><%= player.dr %></td>
        <td><%= player.df %></td>
        <td><%= player.of %></td>
        <td><%= player.fl %></td>
        <td><%= player.st %></td>
        <td><%= player.cr %></td>
        <td><%= player.fit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
