<h3 class="text-center">Skills</h3>
<table class="table table-hover">
  <thead class="table-header">
    <tr style="border: 1px <%= @primary %> solid;">
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Pos</th>
      <th scope="col">PA</th>
      <th scope="col">CO</th>
      <th scope="col">TA</th>
      <th scope="col">RU</th>
      <th scope="col">SH</th>
      <th scope="col">DR</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">FL</th>
      <th scope="col">ST</th>
      <th scope="col">CR</th>
      <th scope="col">TS</th>
      <th scope="col">Fit</th>
    </tr>
  </thead>
  <tbody class="table-detail">
    <% Player.where(club: @club.id).order(Arel.sql("CASE position WHEN 'gkp' THEN 1 WHEN 'dfc' THEN 2 WHEN 'mid' THEN 3 WHEN 'att' THEN 4 ELSE 5 END")).each do |player| %>
      <tr scope="row" style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
        <td><%= player.id %></td>
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= (player.position + player.player_position_detail).upcase %></td>
        <td><%= player.passing %></td>
        <td><%= player.control %></td>
        <td><%= player.tackling %></td>
        <td><%= player.running %></td>
        <td><%= player.shooting %></td>
        <td><%= player.dribbling %></td>
        <td><%= player.defensive_heading %></td>
        <td><%= player.offensive_heading %></td>
        <td><%= player.flair %></td>
        <td><%= player.strength %></td>
        <td><%= player.creativity %></td>
        <td><%= player.total_skill %></td>
        <td><%= player.fitness %></td>
        <td><%= link_to "Show", player_path(player[:id]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
