<h3 class="text-center">Skills</h3>
<table>
  <thead class="table-header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Nationality</th>
      <th>Position</th>
      <th>PA</th>
      <th>CO</th>
      <th>TA</th>
      <th>RU</th>
      <th>SH</th>
      <th>DR</th>
      <th>DF</th>
      <th>OF</th>
      <th>FL</th>
      <th>ST</th>
      <th>CR</th>
      <th>TS</th>
      <th>Fit</th>
    </tr>
  </thead>
  <tbody class="table-detail">
    <% Player.where(club: @club.id).order(Arel.sql("CASE position WHEN 'gkp' THEN 1 WHEN 'dfc' THEN 2 WHEN 'mid' THEN 3 WHEN 'att' THEN 4 ELSE 5 END")).each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.nationality %></td>
        <td><%= (player.position + player.player_position_detail).upcase %></td>
        <td><%= player.passing %></td>
        <td><%= player.control %></td>
        <td><%= player.tackling %></td>
        <td><%= player.running %></td>
        <td><%= player.shooting %></td>
        <td><%= player.dribbling %></td>
        <td><%= player.defensive_heading %></td>
        <td><%= player.offensive_heading %></td>
        <td><%= player.flair %></td>
        <td><%= player.strength %></td>
        <td><%= player.creativity %></td>
        <td><%= player.total_skill %></td>
        <td><%= player.fitness %></td>
        <td><%= link_to "Show", player_path(player[:id]), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
