<h3 class="text-center">Skills</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">PA</th>
      <th scope="col">CO</th>
      <th scope="col">TA</th>
      <th scope="col">RU</th>
      <th scope="col">SH</th>
      <th scope="col">DR</th>
      <th scope="col">DF</th>
      <th scope="col">OF</th>
      <th scope="col">FL</th>
      <th scope="col">ST</th>
      <th scope="col">CR</th>
      <th scope="col">Fit</th>
      <th scope="col">Con</th>
    </tr>
  </thead>
  <tbody>
    <% Player.where(club: @club.abbreviation).order(Arel.sql("CASE position WHEN 'gkp' THEN 1 WHEN 'dfc' THEN 2 WHEN 'mid' THEN 3 WHEN 'att' THEN 4 ELSE 5 END")).each do |player| %>
      <tr scope="row">
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.nationality %></td>
        <td><%= (player.position + player.player_position_detail).upcase %></td>
        <td><%= player.passing %></td>
        <td><%= player.control %></td>
        <td><%= player.tackling %></td>
        <td><%= player.running %></td>
        <td><%= player.shooting %></td>
        <td><%= player.dribbling %></td>
        <td><%= player.defensive_heading %></td>
        <td><%= player.offensive_heading %></td>
        <td><%= player.flair %></td>
        <td><%= player.strength %></td>
        <td><%= player.creativity %></td>
        <td><%= player.fitness %></td>
        <td><%= player.contract %></td>
      </tr>
    <% end %>
  </tbody>
</table>
