<h4 class="text-center">Expenditure</h4>
<table class="table table-hover">
  <tr style="border: 1px <%= @primary %> solid;">
    <td scope="col">Source</td>
    <td scope="col">Amount</td>
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Transfers In</td>
    <td><%= @finance_items[:transfers_in] %></td>   
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Player Wages</td>
    <td><%= @finance_items[:player_wages] %></td>   
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Staff Wages</td>
    <td><%= @finance_items[:staff_wages] %></td>   
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Stadium Upkeep</td>
    <td><%= @finance_items[:stadium_upkeep] %></td>   
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Home Game Policing</td>
    <td><%= @finance_items[:policing] %></td> 
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Home Game Stewards</td>
    <td><%= @finance_items[:stewards] %></td> 
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Home Game Medical Staff</td>
    <td><%= @finance_items[:medical] %></td> 
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Player Bonuses</td>
    <td><%= @finance_items[:bonuses] %></td> 
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Contract Renewals</td>
    <td><%= @finance_items[:contracts] %></td> 
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Stadium Upgrades</td>
    <td><%= @finance_items[:upgrades] %></td> 
  </tr>
  </table>