<h3 class="text-center">Contracts</h3>
<table class="table table-hover align-middle">
  <thead>
    <tr style="border: 1px <%= @primary %> solid;">
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Position</th>
      <th scope="col">Con</th>
      <th scope="col">TL</th>
      <th scope="col">Wages</th>
      <th scope="col">Valuation</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <% if player.position == 'gkp' %>
        <tr scope="row" style="border-bottom: 1px <%= @secondary %> solid;"  class="table-secondary">
      <% elsif player.position == 'dfc' %>
        <tr scope="row" style="border-bottom: 1px <%= @secondary %> solid;"  class="table-success">
      <% elsif player.position == 'mid' %>
        <tr scope="row" style="border-bottom: 1px <%= @secondary %> solid;"  class="table-warning">
      <% else %>
        <tr scope="row" style="border-bottom: 1px <%= @secondary %> solid;"  class="table-danger">
      <% end %>
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= (player.position + player.player_position_detail).upcase %></td>
        <td><%= player.contract %></td>
        <td><%= player.tl %></td>
        <td><%= player.wages %></td>
        <td><%= player.value %></td>
        <td><%= link_to "Show", player_path(player[:id]), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
