<h3 class="text-center">Results</h3>
<table class="table table-hover align-middle">
  <thead>
    <tr style="border: 2px <%= @primary %> solid;">
      <th scope="col">Match ID</th>
      <th scope="col">Comp</th>
      <th scope="col">Home</th>
      <th scope="col">Away</th>
      <th scope="col">Crowd</th>
      <th scope="col">Hm Tactic</th>
      <th scope="col">Aw Tactic</th>
      <th scope="col">Hm poss</th>
      <th scope="col">Aw poss</th>
      <th scope="col">Hm Cha</th>
      <th scope="col">Aw Cha</th>
      <th scope="col">Hm On Tar</th>
      <th scope="col">Aw On Tar</th>
      <th scope="col">Hm Gls</th>
      <th scope="col">Aw Gls</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <% @club_matches.each do |match| %>
      <tr style="border-bottom: 2px <%= @secondary %> solid;" scope="row">
        <td><%= match.match_id %></td>
        <td><%= match.competition %></td>
        <td><%= Club.find_by(id: match.home_team)&.name %></td>
        <td><%= Club.find_by(id: match.away_team)&.name %></td>
        <td><%= match.attendance %></td>
        <td>
          <% case match.tactic_home.to_i %>
          <% when 1 %>
            Passing
          <% when 2 %>
            Defensive
          <% when 3 %>
            Attacking
          <% when 4 %>
            Wide
          <% when 5 %>
            Narrow
          <% else %>
            Direct
          <% end %>
        </td>
        <td>
          <% case match.tactic_away.to_i %>
          <% when 1 %>
            Passing
          <% when 2 %>
            Defensive
          <% when 3 %>
            Attacking
          <% when 4 %>
            Wide
          <% when 5 %>
            Narrow
          <% else %>
            Direct
          <% end %>
        </td>
        <td><%= match.home_possession %></td>
        <td><%= match.away_possession %></td>
        <td><%= match.home_chance %></td>
        <td><%= match.away_chance %></td>
        <td><%= match.home_chance_on_target %></td>
        <td><%= match.away_chance_on_target %></td>
        <td><%= match.home_goals %></td>
        <td><%= match.away_goals %></td>
        <td>
          <% if match.home_team.to_i == @club.id %>
            <% if match.home_goals > match.away_goals %>
              <%= 'Win' %>
            <% elsif match.home_goals == match.away_goals %>
              <%= 'Draw' %>
            <% else %>
              <%= 'Loss' %>
            <% end %>
          <% else %>
            <% if match.home_goals < match.away_goals %>
              <%= 'Win' %>
            <% elsif match.home_goals == match.away_goals %>
              <%= 'Draw' %>
            <% else %>
              <%= 'Loss' %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to "Show", match_path(match[:match_id]), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
