<h3 class="text-center">Results</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Match ID</th>
      <th scope="col">Competition</th>
      <th scope="col">Home</th>
      <th scope="col">Away</th>
      <th scope="col">Home Tactic</th>
      <th scope="col">Away Tactic</th>
      <th scope="col">Home possession</th>
      <th scope="col">Away possession</th>
      <th scope="col">Home Chances</th>
      <th scope="col">Away Chances</th>
      <th scope="col">Home On Tar</th>
      <th scope="col">Away On Tar</th>
      <th scope="col">Home Goals</th>
      <th scope="col">Away Goals</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <% @club_matches.each do |match| %>
      <tr scope="row">
        <td><%= match.id %></td>
        <td><%= match.competition %></td>
        <td><%= Club.find_by(id: match.home_team)&.name %></td>
        <td><%= Club.find_by(id: match.away_team)&.name %></td>
        <td>
          <% case match.tactic_home.to_i %>
          <% when 1 %>
            Passing
          <% when 2 %>
            Defensive
          <% when 3 %>
            Attacking
          <% when 4 %>
            Wide
          <% when 5 %>
            Narrow
          <% else %>
            Direct
          <% end %>
        </td>
        <td>
          <% case match.tactic_away.to_i %>
          <% when 1 %>
            Passing
          <% when 2 %>
            Defensive
          <% when 3 %>
            Attacking
          <% when 4 %>
            Wide
          <% when 5 %>
            Narrow
          <% else %>
            Direct
          <% end %>
        </td>
        <td><%= match.home_possession %></td>
        <td><%= match.away_possession %></td>
        <td><%= match.home_chance %></td>
        <td><%= match.away_chance %></td>
        <td><%= match.home_chance_on_target %></td>
        <td><%= match.away_chance_on_target %></td>
        <td><%= match.home_goals %></td>
        <td><%= match.away_goals %></td>
        <td>
          <% if match.home_team.to_i == @club.id %>
            <% if match.home_goals > match.away_goals %>
              <%= 'Win' %>
            <% elsif match.home_goals == match.away_goals %>
              <%= 'Draw' %>
            <% else %>
              <%= 'Loss' %>
            <% end %>
          <% else %>
            <% if match.home_goals < match.away_goals %>
              <%= 'Win' %>
            <% elsif match.home_goals == match.away_goals %>
              <%= 'Draw' %>
            <% else %>
              <%= 'Loss' %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to "Show", match_path(match[:id]), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
