<h3 class="text-center">Club Staff</h3>
<table class="table table-hover align-middle">
  <tr style="border: 1px <%= @primary %> solid;">
    <td scope="col">Coach</td>
    <td scope="col">Rating</td>
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Fitness</td>
    <td><%= @club.staff_fitness %></td>  
  </tr>       
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Goalkeeping</td>
    <td><%= @club.staff_gkp %></td> 
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Defence</td>
    <td><%= @club.staff_dfc %></td> 
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Midfield</td>
    <td><%= @club.staff_mid %></td> 
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Attack</td>
    <td><%= @club.staff_att %></td>  
  </tr>
  <tr style="border-bottom: 1px <%= @secondary %> solid;" scope="row">
    <td>Scouting</td>
    <td><%= @club.staff_scouts %></td> 
  </tr>
</table>