<h3>Club Staff</h3>
<table class="table table-hover">
  <tr scope="row">
    <td>Fitness Coach</td>
    <td><%= @club.staff_fitness %></td>  
  </tr>       
  <tr scope="row">
    <td>Goalkeeping Coach</td>
    <td><%= @club.staff_gkp %></td> 
  </tr>
  <tr scope="row">
    <td>Defence Coach</td>
    <td><%= @club.staff_dfc %></td> 
  <tr scope="row">
    </tr>
    <td>Midfield Coach</td>
    <td><%= @club.staff_mid %></td> 
  </tr>
  <tr scope="row">
    <td>Attack Coach</td>
    <td><%= @club.staff_att %></td>  
  </tr>
  <tr scope="row">
    <td>Scounting Department</td>
    <td><%= @club.staff_scouts %></td> 
  </tr>
</table>