<h3 class="text-center">Tactics Selection</h3>
<div id="form-container" class="text-center">
  <%= form_with scope: :tactic, url: tactics_path, local: true do |form| %>
    <div class="field">
      <%= form.label :tactics %>
      <%= form.select :tactics, { "Please select a tactic" => nil, "Normal" => 0, "Passing" => 1, "Defensive" => 2, "Attacking" => 3, "Wide" => 4, "Narrow" => 5, "Direct" => 6 }, {}, { name: 'tactic[tactics]', selected: @tactic&.tactics } %>
    </div>
    <div class="field">
      <%= form.label :dfc_aggression %>
      <%= form.select :dfc_aggression, (0..10), selected: @tactic&.dfc_aggression %>

      <%= form.label :mid_aggression %>
      <%= form.select :mid_aggression, (0..10), selected: @tactic&.mid_aggression %>

      <%= form.label :att_aggression %>
      <%= form.select :att_aggression, (0..10), selected: @tactic&.att_aggression %>
    </div>
    <div class="field">
      <%= form.label :press %>
      <%= form.select :press, { "Please select a press style" => 0, "Heavy Metal Football" => 10, "Strong Press" => 6, "Normal Press" => 3, "No Press" => 0, "Late Press" => -5, "Late Heavy Metal Footy" => -8 }, {}, { name: 'tactic[press]', selected: @tactic&.press } %>
    </div>
    <%= form.hidden_field :abbreviation, value: params[:id] %>
    <%= form.submit "Save tactic", class: "btn btn-sm btn-danger" %>
  <% end %>
</div>
