<h3 class="text-center">Team Selection</h3>
<div id="form-container">
  <div class="row">
    <div class="col-md-6">
      <h3>Available Players</h3>
      <div id="availableItems">
        <% Player.where(club: @club.id).order(Arel.sql("CASE position WHEN 'gkp' THEN 1 WHEN 'dfc' THEN 2 WHEN 'mid' THEN 3 WHEN 'att' THEN 4 ELSE 5 END")).each do |player| %>
          <div class="item">
            <%= player.name %>
            <%= (player.position + player.player_position_detail).upcase %>
            <%= player.total_skill %>
            <%= player.fitness %>
            <%= player.average_performance %>
            <%= hidden_field_tag 'player_ids[]', player.id, class: 'player-id' %> <!-- Add a hidden field with the player ID -->
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form_tag selections_path(club: @club.id), method: :post do %>
        <h3>Selected Players</h3>
        <div id="selectedItems"></div>
        
        </div>
        </div class="text-center">
          <%= submit_tag "Save Selection", class: "btn btn-sm btn-danger"%>
        </div>
      <% end %>
    </div>
  </div>
</div>





<%= javascript_pack_tag 'selection' %>