<h3 class="text-center">Team Statistics</h3>
<div id="form-container">
  <table class="table table-hover align-middle">
    <thead>
      <tr style="border: 2px <%= @primary %> solid;">
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Age</th>
        <th scope="col">Total Skill</th>         
        <th scope="col">Fitness</th>
        <th scope="col">Played</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
        <th scope="col">Av. Perf</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <% if player.position == 'gkp' %>
          <tr scope="row" style="border-bottom: 2px <%= @secondary %> solid;"  class="table-secondary">
        <% elsif player.position == 'dfc' %>
          <tr scope="row" style="border-bottom: 2px <%= @secondary %> solid;"  class="table-success">
        <% elsif player.position == 'mid' %>
          <tr scope="row" style="border-bottom: 2px <%= @secondary %> solid;"  class="table-warning">
        <% else %>
          <tr scope="row" style="border-bottom: 2px <%= @secondary %> solid;"  class="table-danger">
        <% end %>
          <td><%= player.name %></td>
          <td><%= (player.position + player.player_position_detail).upcase %></td>
          <td><%= player.age %></td>
          <td><%= player.total_skill %></td>
          <td><%= player.fitness %></td>
          <td><%= player.games_played %></td>
          <td><%= player.total_assists %></td>
          <td><%= player.total_goals %></td>
          <td><%= player.average_performance %></td>
          <td><%= link_to "Show", player_path(player[:id]), class: "btn btn-sm btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
