<% club = Club.find_by(id: params[:id]) %>

<div class="container align-items-start">
  <div class="row text-center">
    <div class="col-md-12">
      <h2><%= @club.name %></h2>
      <h5>Primary Club Color: <%= @club.color_primary %></h5>             
      <h5>Secondary Club Color: <%= @club.color_secondary %></h5>
      <h5>The clubs bank balance is currently: £<%= @club.bank_bal %></h5>
    </div>
  </div>

  <div class="text-left">
    <%= render "messages_new" %>
    <div class="row text-left">
      <div class="col-md-6">
        <%= render "stadium" %>
      </div>
      <div class="col-md-6">
        <%= render "staff" %>
      </div>

      <div class="text-left">
        <div class="row text-left">
          <h3 class="text-center">Income and Expenditure For Week <%= @finance_items[:week] %></h3>
        <div class="col-md-6">
          <%= render "income" %>
        </div>
        <div class="col-md-6">
          <%= render "payments" %>
        </div>
      </div>
      <h3 class="text-center">Summary</h3>
      <%= render 'finance_summary' %>
      <br>
      <br>
      <br>
      </div>

  <div class="text-left">
    <div class="row text-left">
      <%= render "messages_finance" %>
    </div>
  </div>

    <%= render "normal_skills" %>

    <%= render "hidden_skills" %>

    <%= render "players_contract" %>

    <%= render "team_statistics" %>

    <%= render "results" %>

    <%= render "fixtures" %>

    <%= render "messages" %>
    
    </div>
  </div>
</div>