<% club = Club.find_by(abbreviation: params[:id]) %>

<br>
<div class="container align-items-start text-center">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @club.name %></h2>
      <h5>Primary Club Color: <%= @club.color_primary %></h5>             
      <h5>Secondary Club Color: <%= @club.color_secondary %></h5>
      <br>
      <h5>The clubs bank balance is currently: £<%= @club.bank_bal %></h5>
      <br>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <%= render "stadium" %>
    </div>
    <div class="col-md-6">
      <%= render "staff" %>
    </div>
  </div>

  <%= render "normal_skills" %>

  <%= render "hidden_skills" %>

  <%= render "team_selection" %>
  <br>
  <br>
  <%= render "results" %>

  <%= render "messages" %>
</div>