<% club = Club.find_by(abbreviation: params[:id]) %>
<br>
<h2><%= @club.name %></h2>
<br>
<%= render "normal_skills" %>

<%= render "hidden_skills" %>

<%= render "team_selection" %>
<br>
<br>
<%= render "results" %>


