<div class="text-center">
  <h2><%= params[:competition] %></h2>
</div>

<table class="table table-hover">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Abbr</th>
    <th scope="col">Name</th>
    <th scope="col">Played</th>
    <th scope="col">Won</th>
    <th scope="col">Drawn</th>    
    <th scope="col">Lost</th>
    <th scope="col">For</th>
    <th scope="col">Against</th>
    <th scope="col">Goal diff</th>
    <th scope="col">Points</th>
  </tr>
  <% @team_statistics.sort_by { |team, statistics| [-statistics[:points], -(statistics[:goals_scored] - statistics[:goals_conceded]), -statistics[:goals_scored]] }.each.with_index(1) do |(team, statistics), index| %>
    <tr scope="row">
      <td><%= index %></td>
      <td><%= team %></td>
      <td><%= Club.find_by(club_id: team)&.name %></td>
      <td><%= statistics[:played] %></td>
      <td><%= statistics[:won] %></td>
      <td><%= statistics[:drawn] %></td>
      <td><%= statistics[:lost] %></td>
      <td><%= statistics[:goals_scored] %></td>
      <td><%= statistics[:goals_conceded] %></td>
      <td><%= statistics[:goals_scored] - statistics[:goals_conceded] %></td>
      <td><%= statistics[:points] %></td>
    </tr>
  <% end %>
</table>