<table class="table-sm table-hover">
  <tr>
    <th colspan="5" scope="col"><h4>Top Players by Performance</h4><th>
  </tr>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Club</th>
    <th scope="col">Position</th>
    <th scope="col">Performance</th>
  </tr>
  <% @top_performance.each do |player| %>
    <tr scope="row">
      <td><%= player[:id] %></td>
      <td><%= player[:name] %></td>
      <td><%= player[:club] %></td>
      <td><%= player[:position] %></td>
      <td><%= player[:average_match_performance] %></td>
    </tr>
  <% end %>
</table>