<table class="table-sm table-hover">
  <tr>
    <th colspan="5" scope="col"><h4>Top 10 Players by Goals</h4><th>
  </tr>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Club</th>
    <th scope="col">Position</th>
    <th scope="col">Goals</th>
  </tr>
  <% @top_goals.each do |player| %>
    <tr scope="row">
      <td><%= player[:id] %></td>
      <td><%= player[:name] %></td>
      <td><%= Club.find_by(abbreviation: player[:club])&.name %></td>
      <td><%= player[:position] %></td>
      <td><%= player[:goals] %></td>
    </tr>
  <% end %>
</table>