<ul class="nav nav-tabs">
  <li class="nav-item">
    <button id="tableButton" class="btn btn-sm btn-primary">Table</button>
  </li>
  <li class="nav-item">
    <button id="statisticsButton" class="btn btn-sm btn-primary">Statistics</button>
  </li>
</ul>

<div id='table'>
  <%= render 'table' %>
</div>

<div id='statistics'>
  <div class="grid-container">
    <div class="stats"><%= render 'leagues/top_total_skill' %></div>
    <div class="stats"><%= render 'leagues/top_performance' %></div>
    <div class="stats"><%= render 'leagues/top_assists' %></div>
    <div class="stats"><%= render 'leagues/top_goals' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_gkp' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_dfc' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_mid' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_att' %></div>
  </div>
</div>

<%= javascript_pack_tag 'league' %>