<%= render 'leagues/table'%>

<div class="grid-container">
  <div class="stats"><%= render 'leagues/top_total_skill'%></div>
  <div class="stats"><%= render 'leagues/top_performance'%></div>
  <div class="stats"><%= render 'leagues/top_assists'%></div>
  <div class="stats"><%= render 'leagues/top_goals'%></div>
</div>
