<h3 class="text-center">WCC Fixture List</h3>
<table class="table table-hover align-middle">
  <tr>
    <th scope="col">Round</th>
    <th scope="col">Week Number</th>
  </tr>
  <tr scope="row">
    <td>Round 1 (240)</td>
    <td>4</td>
  </tr>
  <tr scope="row">
    <td>Round 2 (128)</td>
    <td>12</td>
  </tr>
  <tr scope="row">
    <td>Round 3 (64)</td>
    <td>20</td>
  </tr>
  <tr scope="row">
    <td>Round 4 (32)</td>
    <td>28</td>
  </tr>
  <tr scope="row">
    <td>Last 16</td>
    <td>36</td>
  </tr>
  <tr scope="row">
    <td>Quarter Finals</td>
    <td>44</td>
  </tr>
  <tr scope="row">
    <td>Semi Finals</td>
    <td>48</td>
  </tr>
  <tr scope="row">
    <td>Final</td>
    <td>51</td>
  </tr>
</table>
<p>16 teams will receive a bye in Round 1.</p>
<br>

<form action="" method="get">
  <label for="week_number">Select Week Number:</label>
  <select name="week_number" id="week_number">
    <% @wcc_weeks.each do |week_number| %>
      <option value="<%= week_number %>">Week <%= week_number %></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>

<% if @wcc_fixtures.present? %>
<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Week</th>
      <th scope="col">HM Id</th>
      <th scope="col">Home</th>
      <th scope="col">AW Id</th>
      <th scope="col">Away</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
      <% @wcc_fixtures.each do |fixture| %>
          <tr scope="row">
            <td><%= fixture.id %></td>
            <td><%= fixture.week_number %></td>
            <td><%= fixture.home %></td>
            <td>
              <%= Club.find_by(id: fixture.home)&.name %>
            </td>
            <td><%= fixture.away %></td>
            <td>
              <%= Club.find_by(id: fixture.away)&.name %>
            </td>
              <% if Match.exists?(match_id: fixture.id) %>
              <td>
                <strong>Score:</strong> <%= Match.find_by(match_id: fixture.id)&.home_goals %>
              </td>
              <td>
                <%= Match.find_by(match_id: fixture.id)&.away_goals %>
              </td>
              <td>  
                <%= link_to 'Show Match', show_match_path(fixture.id), class: "btn btn-sm btn-primary" %>
              </td>   
              <% else %>
              <td>
                <%= link_to 'Show Match', '#', class: "btn btn-sm btn-primary disabled", disabled: true %>
              </td>    
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
