<h3>Results</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Match ID</th>
      <th scope="col">Competition</th>      
      <th scope="col">Home</th>
      <th scope="col">Away</th>
      <th scope="col">Home possession</th>
      <th scope="col">Away possession</th>
      <th scope="col">Home Goals</th>
      <th scope="col">Away Goals</th>
    </tr>
  </thead>
  <tbody>
    <% Match.where(week_number: params[:week_number]).each do |match| %>
      <tr scope="row">
        <td><%= match.id %></td>
        <td><%= match.competition %></td>
        <td><%= Club.find_by(club_id: match.home_team)&.name %></td>
        <td><%= Club.find_by(club_id: match.away_team)&.name %></td>
        <td><%= match.home_possession %></td>
        <td><%= match.away_possession %></td>
        <td><%= match.home_goals %></td>
        <td><%= match.away_goals %></td>
      </tr>
    <% end %>
  </tbody>
</table>
