<table class="table table-hover align-middle">
  <tr>
    <th colspan="5" scope="col"><h5>Top Goalkeepers by Perf</h5></th>
  </tr>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Club</th>
    <th scope="col">Position</th>
    <th scope="col">Perf</th>
  </tr>
  <% @top_performance.select { |player| player[:position].start_with?('GKP') }.take(10).each do |player| %>
    <tr scope="row">
      <td><%= player[:id] %></td>
      <td><%= player[:name] %></td>
      <td><%= player[:club] %></td>
      <td><%= player[:position] %></td>
      <td><%= player[:performance] %></td>
    </tr>
  <% end %>
</table>