<tr>
  <td>
    <p>Wk:<%= article.week %></p>
  </td>
  <td>
    <strong><%= article.headline %></strong>
  </td>
  <td>
    <%= article.sub_headline %>
  </td>
  <td>
    <%= link_to "Show Article", article_path(article.id), class: "btn btn-sm btn-primary" %>
  </td>
  <% if current_user && current_user.gm? %>
    <td>
      <%= link_to "Edit", edit_article_path(article.id), class: "btn btn-sm btn-primary" %>
    </td>
  <% end %>

</tr>