<div class="container d-flex flex-column col-md-5 align-items-center">
  <% if current_user && current_user.gm? %>
    <%= link_to "Create New Article", new_article_path, class: "btn btn-sm btn-primary" %>
  <% end %>
</div>
<% if @articles_gm.count >= 1 %>
  <h3 class="text-center">Game News</h3>
    <div id="article">
      <table class="table table-hover align-middle">
      <% @articles_gm.each do |article_gm| %>
        <tr>
          <td>
            <p>Week: <%= article_gm.week %></p>
          </td>
          <td>
            <strong><%= article_gm.article %></strong>
          </td>
          <% if current_user && current_user.gm? %>
            <td>
              <%= link_to "Edit", edit_article_path(article_gm.id), class: "btn btn-sm btn-primary" %>
            </td>
          <% end %>
        </tr>
      <% end %>  
      </table>
    </div>
<% end %>

<% if @articles_main.count == 6 %>
<div class="row flex justify-content-center">
    <h3 class="text-center">Latest Articles</h3>
    <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
      <p><%= @articles_main[0][:articles_type] %></p>
      <%= image_tag(@articles_main[0][:image], style: "width: 100%; object-fit: cover;") %>
      <h5><%= @articles_main[0][:headline] %></h5>
      <p><%= @articles_main[0][:sub_headline] %></p>
      <%= link_to "Show Article", article_path(@articles_main[0][:id]), class: "btn btn-sm btn-primary" %>
      <% if current_user && current_user.gm? %>
        <%= link_to "Edit", edit_article_path(@articles_main[0][:id]), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
      <p><%= @articles_main[1][:articles_type] %></p>
      <%= image_tag(@articles_main[1][:image], style: "width: 100%; object-fit: cover;") %>  
      <h5><%= @articles_main[1][:headline] %></h5>
      <p><%= @articles_main[1][:sub_headline] %></p>
      <%= link_to "Show Article", article_path(@articles_main[1][:id]), class: "btn btn-sm btn-primary" %>
      <% if current_user && current_user.gm? %>
        <%= link_to "Edit", edit_article_path(@articles_main[1][:id]), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-3 m-3 border border-5 border-border shadow p-0 bg-light">
      <p><%= @articles_main[2][:articles_type] %></p>
      <%= image_tag(@articles_main[2][:image], style: "width: 100%; object-fit: cover;") %> 
      <h5><%= @articles_main[2][:headline] %></h5>
      <p><%= @articles_main[2][:sub_headline] %></p>
      <%= link_to "Show Article", article_path(@articles_main[2][:id]), class: "btn btn-sm btn-primary" %>
      <% if current_user && current_user.gm? %>
        <%= link_to "Edit", edit_article_path(@articles_main[2][:id]), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row flex justify-content-center">
    <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
      <p><%= @articles_main[3][:articles_type] %></p>
      <%= image_tag(@articles_main[3][:image], style: "width: 100%; object-fit: cover;") %>
      <h5><%= @articles_main[3][:headline] %></h5>
      <p><%= @articles_main[3][:sub_headline] %></p>
      <%= link_to "Show Article", article_path(@articles_main[3][:id]), class: "btn btn-sm btn-primary" %>
      <% if current_user && current_user.gm? %>
        <%= link_to "Edit", edit_article_path(@articles_main[3][:id]), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
      <p><%= @articles_main[4][:articles_type] %></p>
      <%= image_tag(@articles_main[4][:image], style: "width: 100%; object-fit: cover;") %>  
      <h5><%= @articles_main[4][:headline] %></h5>
      <p><%= @articles_main[4][:sub_headline] %></p>
      <%= link_to "Show Article", article_path(@articles_main[4][:id]), class: "btn btn-sm btn-primary" %>
      <% if current_user && current_user.gm? %>
        <%= link_to "Edit", edit_article_path(@articles_main[4][:id]), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-3 m-3 border border-5 border-border shadow p-0 bg-light">
      <p><%= @articles_main[5][:articles_type] %></p>
      <%= image_tag(@articles_main[5][:image], style: "width: 100%; object-fit: cover;") %> 
      <h5><%= @articles_main[5][:headline] %></h5>
      <p><%= @articles_main[5][:sub_headline] %></p>
      <%= link_to "Show Article", article_path(@articles_main[5][:id]), class: "btn btn-sm btn-primary" %>
      <% if current_user && current_user.gm? %>
        <%= link_to "Edit", edit_article_path(@articles_main[5][:id]), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @articles_other.count >= 1 %>
  <h3 class="text-center">Other Articles</h3>
  <div id="article">
    <table class="table table-hover align-middle">
    <% @articles_other.each do |article| %>
      <%= render article %>
    <% end %>  
    </table>
  </div>
<% end %>
