  <h3 class="text-center">Statistics</h3>
  <div class="grid-container">
    <div class="stats"><%= render 'leagues/top_total_skill' %></div>
    <div class="stats"><%= render 'leagues/top_performance' %></div>
    <div class="stats"><%= render 'leagues/top_assists' %></div>
    <div class="stats"><%= render 'leagues/top_goals' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_gkp' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_dfc' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_mid' %></div>
    <div class="stats"><%= render 'leagues/top_total_skill_att' %></div>
  </div>