<%= form_with(model: turn) do |form| %>
  <% if turn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turn.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
        <% turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3 align-top">    
      <div>
        <%= form.label :week, style: "display: block" %>
        <%= form.number_field :week %>
      </div>

      <div>
        <%= form.label :club_id, style: "display: block" %>
        <%= form.text_field :club_id %>
      </div>

      <div>
        <%= form.label :var1, style: "display: block" %>
        <%= form.text_field :var1 %>
      </div>

      <div>
        <%= form.label :var2, style: "display: block" %>
        <%= form.text_field :var2 %>
      </div>

      <div>
        <%= form.label :var3, style: "display: block" %>
        <%= form.text_field :var3 %>
      </div>

      <div>
        <%= form.label :var4, style: "display: block" %>
        <%= form.text_field :var4 %>
      </div>

      <div>
        <%= form.submit 'Save', class: "btn btn-sm btn-danger" %>
      </div>
    <% end %>
    </div>
    <div class="col-md-9 align-top"> 
      <h4>Turn Action Guidance</h4>
      <h6>Stand Seating Upgrades</h6>
      <p>var1: Stand to be upgraded: stand_n_capacity - stand_s_capacity - stand_e_capacity - stand_w_capacity<br>
      var2: Number of seats: 2000, 4000, 6000, 8000, 1000<br>
      <br>
      <h6>Stand Condition Upgrades</h6>
      <p>var1: Stand to be upgraded: stand_n_condition - stand_s_condition - stand_e_condition - stand_w_condition<br>
      var3: 100000</p>
      <br>
      <h6>Property Upgrades</h6>
      var1: property<br>
      var2: Item to be upgraded: hospitality - facilities - pitch<br>
      var3: 250000</p>
      <br>
      <h6>Coach Upgrades</h6>
      <p>var1: coach<br>
      var2: Department to Increase: staff_fitness, staff_scouts, staff_gkp - staff_dfc - staff_mid - staff_att<br>
      var3: 500000</p>
      <br>
      <h6>Player Training</h6>
      <p>var1: train<br>
      var2: Capitalized Player name<br>
      var3: Player skill</p>
      <br>
      <h6>Unmanaged Bid</h6>
      <p>var1: unmanaged_bid<br>
      var2: player_id<br>
      var3: bid</p>
      <br>
      <h6>Sell to Circuit</h6>
      <p>var1: circuit<br>
      var2: player_id<br></p>
      <br>
      <h6>Contract Renewal</h6>
      <p>var1: contract<br>
      var2: player_id<br>
      var3: amount</p>
      <br>
      <h6>Bid for listed player</h6>
      <p>var1: listed_bid<br>
      var2: player_id<br>
      var3: amount</p>
      <br>
      <h6>Deal between two clubs</h6>
      <p>var1: deal<br>
      var2: player_id<br>
      var3: amount<br>
      var4: other_club</p>
      </div>
    </div>
  </div>