<div class="col-3">
  <h3>Step 4</h3>
  <h6>Process end of turn</h6>
  <form action="/turns/process_end_of_turn" method="post">
    <input type="hidden" name="week" value="<%= params[:week] %>">
    <% if @turn && @turn.create_tables && @turn.player_update && @turn.transfer_update && @turn.upgrade_admin && @turn.club_update && @turn.article_update %>
      <button type="submit" class="btn btn-danger disabled">End of Turn Processed</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to process the end of turn updates?')">End of Turn Updates</button><br>
    <% end %>
  </form>
  <table class="table table-striped">
    <tr>
      <td>Create Tables</td>
      <td><%= @turn.create_tables %></td>
    </tr>
    <tr>
      <td>Player Updates</td>
      <td><%= @turn.player_update %></td>
    </tr>
    <tr>
      <td>Transfer Updates</td>
      <td><%= @turn.transfer_update %></td>
    </tr>
    <tr>
      <td>Upgrade Admin</td>
      <td><%= @turn.upgrade_admin %></td>
    </tr>
    <tr>
      <td>Club Updates</td>
      <td><%= @turn.club_update %></td>
    </tr>
    <tr>
      <td>Article Updates</td>
      <td><%= @turn.article_update %></td>
    </tr>
  </table>
</div>
