<div class="col-3">
  <h3>Step 4</h3>
  <h6>Process end of turn</h6>
  <form action="/turns/end_of_turn" method="post">
    <input type="hidden" name="week" value="<%= params[:week] %>">
    <% if Processing.exists?(message: "#{params[:week]}ET") %>
      <button type="submit" class="btn btn-danger disabled">End of Turn Processed</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to process the end of turn updates?')">End of Turn Updates</button><br>
    <% end %>
  </form>

  <h6>Calculate and Save League Tables</h6>
  <form action="/leagues/create_tables" method="post">
    <input type="hidden" name="week" value="<%= params[:week] %>">
    <% if Processing.exists?(message: "#{params[:week]}CLT") %>
      <button type="submit" class="btn btn-danger disabled">League Tables Created</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to create the league tables?')">Create Tables</button><br>
    <% end %>
  </form>

  <h6>Process End of Turn Player Updates</h6>
  <form action="/turns/process_player_updates" method="post">
    <input type="hidden" name="week" value="<%= params[:week] %>">
    <% if Processing.exists?(message: "#{params[:week]}PU") %>
      <button type="submit" class="btn btn-danger disabled">Player Updates Completed</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run Player Updates?')">Player Updates</button><br>
    <% end %>
  </form>

  <h6>Process End of Turn Upgrade Admin</h6>
  <form action="/turns/process_upgrade_admin" method="post">
    <input type="hidden" name="week" value="<%= params[:week] %>">
    <% if Processing.exists?(message: "#{params[:week]}UA") %>
      <button type="submit" class="btn btn-danger disabled">Upgrade Admin Completed</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run Upgrade Admin?')">Upgrade Admin</button><br>
    <% end %>
  </form>

  <h6>Process End of Turn Club Updates</h6>
  <form action="/turns/process_club_updates" method="post">
    <input type="hidden" name="week" value="<%= params[:week] %>">
    <% if Processing.exists?(message: "#{params[:week]}CU") %>
      <button type="submit" class="btn btn-danger disabled">Club Updates Completed</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run Club Updates?')">Club updates</button><br>
    <% end %>
  </form>

  <h6>Process End of Turn Article Updates</h6>
  <form action="/turns/process_article_updates" method="post">
    <input type="hidden" name="week" value="<%= params[:week] %>">
    <% if Processing.exists?(message: "#{params[:week]}AU") %>
      <button type="submit" class="btn btn-danger disabled">Article Updates Completed</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run Article Updates?')">Article updates</button><br>
    <% end %>
  </form>
</div>
