<div class="col-3">
  <h3>Step 3</h3>
  <h6>Auto Selections and Matches</h6>
  <form action="/turns/process_matches" method="post">
    <input type="hidden" name="selected_week" value="<%= params[:week] %>">
    <% if @turn && @turn.auto_selections && @turn.run_matches %>
      <button type="submit" class="btn btn-danger disabled">Selections and matches job processed</button><br>
    <% else %>
      <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run all selections and games?')">All Selections and Games</button><br>
    <% end %>
  </form>

  <table class="table table-striped">
    <tr>
      <td>Auto Selections</td>
      <td><%= @turn.auto_selections %></td>
    </tr>
    <tr>
      <td>Premier League</td>
      <td><%= @games_completed["Premier League"] %>/<%= @games_scheduled["Premier League"] %></td>
    </tr>
    <tr>
      <td>Championship</td>
      <td><%= @games_completed["Championship"] %>/<%= @games_scheduled["Championship"] %></td>
    </tr>
    <tr>
      <td>Ligue 1</td>
      <td><%= @games_completed["Ligue 1"] %>/<%= @games_scheduled["Ligue 1"] %></td>
    </tr>
    <tr>
      <td>Ligue 2</td>
      <td><%= @games_completed["Ligue 2"] %>/<%= @games_scheduled["Ligue 2"] %></td>
    </tr>
    <tr>
      <td>Serie A</td>
      <td><%= @games_completed["Serie A"] %>/<%= @games_scheduled["Serie A"] %></td>
    </tr>
    <tr>
      <td>Serie B</td>
      <td><%= @games_completed["Serie B"] %>/<%= @games_scheduled["Serie B"] %></td>
    </tr>
    <tr>
      <td>Bundesliga 1</td>
      <td><%= @games_completed["Bundesliga 1"] %>/<%= @games_scheduled["Bundesliga 1"] %></td>
    </tr>
    <tr>
      <td>Bundesliga 2</td>
      <td><%= @games_completed["Bundesliga 2"] %>/<%= @games_scheduled["Bundesliga 2"] %></td>
    </tr>
    <tr>
      <td>La Liga</td>
      <td><%= @games_completed["La Liga"] %>/<%= @games_scheduled["La Liga"] %></td>
    </tr>
    <tr>
      <td>Segunda Division</td>
      <td><%= @games_completed["Segunda Division"] %>/<%= @games_scheduled["Segunda Division"] %></td>
    </tr>
    <tr>
      <td>Brasileiro Serie A</td>
      <td><%= @games_completed["Brasileiro Serie A"] %>/<%= @games_scheduled["Brasileiro Serie A"] %></td>
    </tr>
    <tr>
      <td>Brasileiro Serie B</td>
      <td><%= @games_completed["Brasileiro Serie B"] %>/<%= @games_scheduled["Brasileiro Serie B"] %></td>
    </tr>
    <tr>
      <td>League Cup</td>
      <td><%= @games_completed["League Cup"] %>/<%= @games_scheduled["League Cup"] %></td>
    </tr>
    <tr>
      <td>World Club Cup</td>
      <td><%= @games_completed["WCC"] %>/<%= @games_scheduled["WCC"] %></td>
    </tr>
    <tr>
      <td>Friendlies</td>
      <td><%= @games_completed["Friendly"] %>/<%= @games_scheduled["Friendly"] %></td>
    </tr>
  </table>
</div>
