<div id="<%= dom_id turn %>">
  <tr scope="row">
    <td><%= turn.week %></td>
    <td><%= turn.club %></td>
    <td><%= turn.var1 %></td>
    <td><%= turn.var2 %></td>
    <td><%= turn.var3 %></td>
    <td>
      <% if turn.date_completed.nil? %>
        <%= link_to "Edit", edit_turn_path(turn.id), class: "btn btn-sm btn-primary" %>
      <% else %>
        Processed
      <% end %>
    </td>
    <td><%= turn.date_completed %></td>
  </tr>
</div>

