<div class="container">
  <h3 class="text-center mb-5">Last Turn Processed: Week <%= @last_turn_processed %></h3>

  <h3 class="text-center">Turn Processing</h3>
  <div class="row mb-5">
    <div class="col-3">
      <h2>Step 1</h2>
      <h6>Select the week to be processed</h6>
      <form action="/turns" method="get">
        <select name="week" id="week">
          <option value="">No week selected</option>
          <% (1..38).each do |week| %>
            <option value="<%= week %>" <%= 'selected' if params[:week] == week.to_s %>>Week <%= week %></option>
          <% end %>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>


    <% if params[:week].present? %>
    <%= render 'step_2' %>
    <% end %>

    <% if @turn && @turn.transfer_actions %>
    <%= render 'step_3' %>
    <% end %>

    <% if @turn && @turn.run_matches || @turn && @games_scheduled == 0 %>
    <%= render 'step_4' %>
    <% end %>

    <%= render 'turn_actions' %>

    <%= render 'errors' %>
  </div>
</div>
