
<div class="container">
  <h1>Turn Processing</h1>
  <div class="row">
    <div class="col-3">
      <h2>Step 1</h2>
      <h6>Select the week to be processed</h6>
      <form action="/turns" method="get">
        <select name="week" id="week">
          <option value="">No week selected</option>
          <% (1..38).each do |week| %>
            <option value="<%= week %>" <%= 'selected' if params[:week] == week.to_s %>>Week <%= week %></option>
          <% end %>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <% if params[:week].present? %>
      <div class="col-3">
        <h2>Step 2</h2>
        <h6>Process Turnsheets</h6>
        <form action="/turnsheets/process_turnsheet" method="post">
          <% if @turnsheets_processed == @turnsheets_submitted %>
            <button type="submit" class="btn btn-danger disabled">Turnsheets <%= @turnsheets_processed %>/<%= @turnsheets_submitted %></button><br>
          <% else %>
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to process Turnsheets?')">Turnsheets <%= @turnsheets_processed %>/<%= @turnsheets_submitted %></button><br>
          <% end %>
        </form>

        <h6>Auto Selections</h6>
        <form action="/selections/auto_selection" method="post">
          <input type="hidden" name="week" value="<%= params[:week] %>">
          <% if Message.exists?(action_id: "#{params[:week]}AS") %>
            <button type="submit" class="btn btn-danger disabled">Run Auto Select</button><br>
          <% else %>
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to process Auto Select?')">Auto Select</button><br>
          <% end %>
        </form>


        <h6>Process Turn Actions</h6>
        <form action="/turns/process_turn" method="post">
          <input type="hidden" name="week" value="<%= params[:week] %>">
          <% if Message.exists?(action_id: "#{params[:week]}TTA") %>
            <button type="submit" class="btn btn-danger disabled">Turn & Transfer Actions <%= @turn_actions_processed %>/<%= @turn_actions_submitted %></button><br>
          <% else %>
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to process Turn Actions?')">Turn Actions <%= @turn_actions_processed %>/<%= @turn_actions_submitted %></button><br>
          <% end %>
        </form>
      </div>

      <div class="col-3">
        <h2>Step 3</h2>
        <h6>Run Matches</h6>
        <form action="/matches/match_multiple" method="post">
          <input type="hidden" name="selected_week" value="<%= params[:week] %>">
          <% if @games_completed == @games_scheduled %>
            <button type="submit" class="btn btn-danger disabled">All Games <%= @games_completed %>/<%= @games_scheduled %></button><br>
          <% else %>
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run all games?')">All Games <%= @games_completed %>/<%= @games_scheduled %></button><br>
          <% end %>

          <h6>League</h6>
          <% if @premier_completed == @premier_scheduled %>
            <button type="submit" name="competition" value="Premier League" class="btn btn-danger disabled">Premier League <%= @premier_completed %>/<%= @premier_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Premier League" class="btn btn-success" onclick="return confirm('Are you sure you want to run Premier League games?')">Premier League <%= @premier_completed %>/<%= @premier_scheduled %></button><br>
          <% end %>
          
          <% if @championship_completed == @championship_scheduled %>
            <button type="submit" name="competition" value="Championship" class="btn btn-danger disabled">Championship <%= @championship_completed %>/<%= @championship_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Championship" class="btn btn-success" onclick="return confirm('Are you sure you want to run Championship games?')">Championship <%= @championship_completed %>/<%= @championship_scheduled %></button><br>
          <% end %>

          <% if @ligue_1_completed == @ligue_1_scheduled %>
            <button type="submit" name="competition" value="Ligue 1" class="btn btn-danger disabled">Ligue 1 <%= @ligue_1_completed %>/<%= @ligue_1_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Ligue 1" class="btn btn-success" onclick="return confirm('Are you sure you want to run Ligue 1 games?')">Ligue 1 <%= @ligue_1_completed %>/<%= @ligue_1_scheduled %></button><br>
          <% end %>

          <% if @ligue_2_completed == @ligue_2_scheduled %>
            <button type="submit" name="competition" value="Ligue 2" class="btn btn-danger disabled">Ligue 2 <%= @ligue_2_completed %>/<%= @ligue_2_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Ligue 2" class="btn btn-success" onclick="return confirm('Are you sure you want to run Ligue 2 games?')">Ligue 2 <%= @ligue_2_completed %>/<%= @ligue_2_scheduled %></button><br>
          <% end %>

          <% if @serie_a_completed == @serie_a_scheduled %>
            <button type="submit" name="competition" value="Serie A" class="btn btn-danger disabled">Serie A <%= @serie_a_completed %>/<%= @serie_a_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Serie A" class="btn btn-success" onclick="return confirm('Are you sure you want to run Serie A games?')">Serie A <%= @serie_a_completed %>/<%= @serie_a_scheduled %></button><br>
          <% end %>

          <% if @serie_b_completed == @serie_b_scheduled %>
            <button type="submit" name="competition" value="Serie B" class="btn btn-danger disabled">Serie B <%= @serie_b_completed %>/<%= @serie_b_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Serie B" class="btn btn-success" onclick="return confirm('Are you sure you want to run Serie B games?')">Serie B <%= @serie_b_completed %>/<%= @serie_b_scheduled %></button><br>
          <% end %>

          <% if @bundesliga_1_completed == @bundesliga_1_scheduled %>
            <button type="submit" name="competition" value="Bundesliga 1" class="btn btn-danger disabled">Bundesliga 1 <%= @bundesliga_1_completed %>/<%= @bundesliga_1_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Bundesliga 1" class="btn btn-success" onclick="return confirm('Are you sure you want to run Bundesliga 1 games?')">Bundesliga 1 <%= @bundesliga_1_completed %>/<%= @bundesliga_1_scheduled %></button><br>
          <% end %>

          <% if @bundesliga_2_completed == @bundesliga_2_scheduled %>
            <button type="submit" name="competition" value="Bundesliga 2" class="btn btn-danger disabled">Bundesliga 2 <%= @bundesliga_2_completed %>/<%= @bundesliga_2_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Bundesliga 2" class="btn btn-success" onclick="return confirm('Are you sure you want to run Bundesliga 2 games?')">Bundesliga 2 <%= @bundesliga_2_completed %>/<%= @bundesliga_2_scheduled %></button><br>
          <% end %>

          <% if @la_liga_completed == @la_liga_scheduled %>
            <button type="submit" name="competition" value="La Liga" class="btn btn-danger disabled">La Liga <%= @la_liga_completed %>/<%= @la_liga_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="La Liga" class="btn btn-success" onclick="return confirm('Are you sure you want to run La Liga games?')">La Liga <%= @la_liga_completed %>/<%= @la_liga_scheduled %></button><br>
          <% end %>

          <% if @segunda_division_completed == @segunda_division_scheduled %>
            <button type="submit" name="competition" value="Segunda Division" class="btn btn-danger disabled">Segunda Division <%= @segunda_division_completed %>/<%= @segunda_division_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Segunda Division" class="btn btn-success" onclick="return confirm('Are you sure you want to run Segunda Division games?')">Segunda Division <%= @segunda_division_completed %>/<%= @segunda_division_scheduled %></button><br>
          <% end %>

          <% if @brasileiro_serie_a_completed == @brasileiro_serie_a_scheduled %>
            <button type="submit" name="competition" value="Brasileiro Serie A" class="btn btn-danger disabled">Serie A <%= @brasileiro_serie_a_completed %>/<%= @brasileiro_serie_a_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Brasileiro Serie A" class="btn btn-success" onclick="return confirm('Are you sure you want to run Brasileiro Serie A games?')">Serie A <%= @brasileiro_serie_a_completed %>/<%= @brasileiro_serie_a_scheduled %></button><br>
          <% end %>

          <% if @brasileiro_serie_b_completed == @brasileiro_serie_b_scheduled %>
            <button type="submit" name="competition" value="Brasileiro Serie B" class="btn btn-danger disabled">Serie B <%= @brasileiro_serie_b_completed %>/<%= @brasileiro_serie_b_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Brasileiro Serie B" class="btn btn-success" onclick="return confirm('Are you sure you want to run Brasileiro Serie B games?')">Serie B <%= @brasileiro_serie_b_completed %>/<%= @brasileiro_serie_b_scheduled %></button><br>
          <% end %>

          <h6>League Cup</h6>
          <% if @league_cup_completed == @league_cup_scheduled %>
            <button type="submit" name="competition" value="League Cup" class="btn btn-danger disabled">Cup <%= @league_cup_completed %>/<%= @league_cup_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="League Cup" class="btn btn-success" onclick="return confirm('Are you sure you want to run League Cup games?')">Cup <%= @league_cup_completed %>/<%= @league_cup_scheduled %></button><br>
          <% end %>

          <h6>World Club Cup</h6>
          <% if @wcc_completed == @wcc_scheduled %>
            <button type="submit" name="competition" value="WCC" class="btn btn-danger disabled">Cup <%= @wcc_completed %>/<%= @wcc_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="WCC" class="btn btn-success" onclick="return confirm('Are you sure you want to run WCC games?')">Cup <%= @wcc_completed %>/<%= @wcc_scheduled %></button><br>
          <% end %>
          
          <h6>Other</h6>
          <% if @friendlies_completed == @friendlies_scheduled %>
            <button type="submit" name="competition" value="Friendly" class="btn btn-danger disabled">Friendlies <%= @friendlies_completed %>/<%= @friendlies_scheduled %></button><br>
          <% else %>
            <button type="submit" name="competition" value="Friendly" class="btn btn-success" onclick="return confirm('Are you sure you want to run Friendly games?')">Friendlies <%= @friendlies_completed %>/<%= @friendlies_scheduled %></button><br>
          <% end %>
        </form>
      </div>

      <div class="col-3">
        <h2>Step 4</h2>
        <h6>Process End of Turn Player Updates</h6>
        <form action="/turns/process_player_updates" method="post">
          <input type="hidden" name="week" value="<%= params[:week] %>">
          <% if Message.exists?(action_id: "#{params[:week]}PU") %>
            <button type="submit" class="btn btn-danger disabled">Player Updates Completed</button><br>
          <% else %>
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run Player Updates?')">Player Updates</button><br>
          <% end %>
        </form>

        <h6>Process End of Turn Upgrade Admin</h6>
        <form action="/turns/process_upgrade_admin" method="post">
          <input type="hidden" name="week" value="<%= params[:week] %>">
          <% if Message.exists?(action_id: "#{params[:week]}UA") %>
            <button type="submit" class="btn btn-danger disabled">Upgrade Admin Completed</button><br>
          <% else %>
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run Upgrade Admin?')">Upgrade Admin</button><br>
          <% end %>
        </form>

        <h6>Process End of Turn Club Updates</h6>
        <form action="/turns/process_club_updates" method="post">
          <input type="hidden" name="week" value="<%= params[:week] %>">
          <% if Message.exists?(action_id: "#{params[:week]}CU") %>
            <button type="submit" class="btn btn-danger disabled">Club Updates Completed</button><br>
          <% else %>
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to run Club Updates?')">Club updates</button><br>
          <% end %>
        </form>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Turn Actions</h2>
      <%= link_to "Click here a create a new turn action", new_turn_path, class: "btn btn-sm btn-primary" %>
      <div id="turns">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="col">Week</th>
              <th scope="col">Club</th>
              <th scope="col">var1</th>
              <th scope="col">var2</th>
              <th scope="col">var3</th>
              <th scope="col">var4</th>
              <th scope="col">Action</th>
              <th scope="col">Date Processed</th>
            </tr>
            <tr scope="row">
              <% @turns.each do |turn| %>
                <% if turn.week.to_s == params[:week] %>
                <%= render turn %>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>