<h2>Turn Processing</h2>
<h6>Select the week to be processed</h6>
<form action="/turns" method="get">
  <select name="week" id="week">
    <% (1..38).each do |week| %>
      <option value="<%= week %>">Week <%= week %></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
<h6>Run Matches</h6>
<form action="/matches/match_multiple" method="post">
  <input type="hidden" name="selected_week" value="<%= params[:week] %>">
  <button type="submit" name="competition" value="Premier League" class="btn btn-danger">Run Premier League</button><br>
  <button type="submit" name="competition" value="Championship" class="btn btn-danger">Run Championship</button><br>
  <button type="submit" name="competition" value="Cup" class="btn btn-danger">Run Cup</button><br>
  <button type="submit" name="competition" value="Friendly" class="btn btn-danger">Run Friendlies</button><br>
  <button type="submit" class="btn btn-danger">Run All Games</button>
</form>
<h6>Process Turn Actions</h6>
<form action="/turns/process_turn" method="post">
  <input type="hidden" name="week" value="<%= params[:week] %>">
  <button type="submit" class="btn btn btn-danger" >Process Turn Actions</button>
</form>
<h6>Process End of Turn player Updates</h6>
<form action="/turns/process_player_updates" method="post">
  <input type="hidden" name="week" value="<%= params[:week] %>">
  <button type="submit" class="btn btn btn-danger" >Process Player Updates</button>
</form>

<h2>Turn actions</h2>
<%= link_to "Click here a create a new turn action", new_turn_path, class: "btn btn-sm btn-primary" %>

<div id="turns">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Club</th>
        <th scope="col">var1</th>
        <th scope="col">var2</th>
        <th scope="col">var3</th>
        <th scope="col">Action</th>
        <th scope="col">Date Processed</th>
      </tr>
      <tr scope="row">
        <% @turns.each do |turn| %>
          <% if turn.week.to_s == params[:week] %>
          <%= render turn %>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>