<h2>Turn actions</h2>

<form action="/turns/process_turn" method="post">
  <input type="hidden" name="week" value="<%= params[:week] %>">
  <button type="submit" class="btn btn-sm btn-danger" >Process Turn Actions</button>
</form>

<%= link_to "Click here a create a new turn action", new_turn_path, class: "btn btn-sm btn-primary" %>

<form action="/turns" method="get">
  <label for="week">Select Week Number:</label>
  <select name="week" id="week">
    <% @turns.map(&:week).uniq.each do |week| %>
      <option value="<%= week %>">Week <%= week %></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>

<div id="turns">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Club</th>
        <th scope="col">var1</th>
        <th scope="col">var2</th>
        <th scope="col">var3</th>
        <th scope="col">Action</th>
        <th scope="col">Date Processed</th>
      </tr>
      <tr scope="row">
        <% @turns.each do |turn| %>
          <% if turn.week.to_s == params[:week] %>
          <%= render turn %>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>