<% if @latest_article.count == 3 %>
  <div class="row flex justify-content-center mb-5">
    <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
      <p><%= @latest_article[0][:articles_type] %></p>
      <%= image_tag(@latest_article[0][:image], style: "width: 100%; object-fit: cover;") %>
      <h5><%= @latest_article[0][:headline] %></h5>
      <%= link_to "Show Article", article_path(@latest_article[0][:id]), class: "btn btn-sm btn-danger" %>
    </div>
    <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
      <p><%= @latest_article[1][:articles_type] %></p>
      <%= image_tag(@latest_article[1][:image], style: "width: 100%; object-fit: cover;") %>  
      <h5><%= @latest_article[1][:headline] %></h5>
      <%= link_to "Show Article", article_path(@latest_article[1][:id]), class: "btn btn-sm btn-danger" %>
    </div>
    <div class="col-md-3 m-3 border border-5 border-border shadow p-0 bg-light">
      <p><%= @latest_article[2][:articles_type] %></p>
      <%= image_tag(@latest_article[2][:image], style: "width: 100%; object-fit: cover;") %> 
      <h5><%= @latest_article[2][:headline] %></h5>
      <%= link_to "Show Article", article_path(@latest_article[2][:id]), class: "btn btn-sm btn-danger" %>
    </div>
  </div>
<% end %>