<div class="row mb-5">
  <div class="row">
    <div class="blue-body">
      <button id='playerButton' class="col-md-2 btn btn-sm btn-danger">Players</button>
      <button id='matchButton' class="col-md-2 btn btn-sm btn-danger">Matches</button>
      <button id='clubButton' class="col-md-2 btn btn-sm btn-danger">Clubs</button>
    </div>
  </div>

  <div id='player' class="row">
    <div class="blue-body">
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %>
        <h6>Hidden Stats</h6>
        <p>turn actions from club screens</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %>
        <h6>Training</h6>  
        <p>sponsorship</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %> 
        <h6>Transfers</h6> 
        <p>turn payment system</p>
      </div>
    </div>
  </div>

  <div id='matches' class="row">
    <div class="blue-body">
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %> 
        <h6>Blend</h6> 
        <p>turn actions from club screens</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %>
        <h6>Crowds</h6>    
        <p>sponsorship</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %>
        <h6>Tactics</h6>  
        <p>turn payment system</p>
      </div>
    </div>
  </div>

  <div id='club' class="row">
    <div class="blue-body">
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %> 
        <h6>Stadium</h6>
        <p>turn payment system</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %>   
        <h6>Staff</h6>
        <p>turn payment system</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("player.jpg", style: "width: 100%; object-fit: cover;") %>  
        <h6>Finances</h6>
        <p>turn payment system</p>
      </div>
    </div>
  </div>
</div>