<div class="row flex mb-5 justify-content-center">
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
    <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>
    <a href="<%= transfers_path %>">
    <h6>Completed Transfers</h6>
    <p>Check out all the big deals as they happen</p>
    </a>
  </div>
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
    <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>
    <a href="/"> 
    <h6>Turn Summary</h6>
    <p>Big results, big deals, vital games - all summarised here</p>
    </a>
  </div>
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
    <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>  
    <a href="<%= players_unmanaged_players_path %>">
    <h6>Free Agents</h6>
    <p>These are the players that will go to the highest bidder</p>
    </a>
  </div>
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
    <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %> 
    <a href="<%= help_issues_path %>"> 
    <h6>Issue Reporting</h6>
    <p>Problem - tell us about it and we will help</p>
    </a>
  </div>
</div>