<div id="home-container" class='container flex align-items-center col-md-12 shadow'>
  <div class='container col-md-10 mb-4 yellow border border-5 shadow'>
    <div class="row">
      <div class="col-md-8 p-0">
      <%= image_tag("winners.jpg", style: "width: 100%; object-fit: cover;") %>
      </div>
      <div class="col-md-4 p-0" id="breaking">
        <h2 class="lead-text">Have you got what it takes to manage a club to success?</h2>
        <h6 class="sub-text">Have you got what it takes to manage a club to success?</h6>
      </div>
    </div>
  </div>

  <div class='container col-md-12 '>
    <div class="row flex justify-content-center">  
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %> 
        <p>Blend</p>
        <p>Star stat</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>  
        <p>Fitness</p>
        <p>Aggression</p>
      </div>
      <div class="col-md-3 m-3 border border-5 border-border shadow p-0 bg-light">
        <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %> 
        <p>list/unlist players and buy listed players</p>
        <p>Affect loyalty in player actions</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="blue m-5 flex justify-content-center"> 
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <p>turn actions from club screens</p>
        <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %> 
        <p>turn actions from club screens</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <p>turn actions from club screens</p>
        <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>   
        <p>sponsorship</p>
      </div>
      <div class="col-md-3 m-3 border border-5 shadow p-0 bg-light">
        <p>turn actions from club screens</p>
        <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>  
        <p>turn payment system</p>
      </div>
    </div>
  </div>

  <div class="row flex justify-content-center">  
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
      <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %> 
      <p>turn actions from club screens</p>
      <p>colour code skills if trained to pot</p>
      <p>special events like community chance in monopoly</p>
      <p>loan</p>
    </div>
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
      <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>   
      <p>sponsorship</p>
      <p>ticket price</p>
      <p>cards</p>
      <p>substitutions</p>
      <p>board interactions</p>
    </div>
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
      <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>  
      <p>turn payment system</p>
      <p>player emails/comms</p>
      <p>international management</p>
      <p>manager rating</p>
      <p>generate youth player</p>
    </div>
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">
      <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>  
      <p>turn payment system</p>
      <p>player emails/comms</p>
      <p>international management</p>
      <p>manager rating</p>
      <p>generate youth player</p>
    </div>
  </div>


  <div class="row flex justify-content-center">  
    <div class="col-md-5 m-3 border border-5 shadow p-0 bg-light">
      <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %> 
      <p>turn actions from club screens</p>
      <p>colour code skills if trained to pot</p>
      <p>special events like community chance in monopoly</p>
      <p>loan</p>
    </div>
    <div class="col-md-5 m-3 border border-5 shadow p-0 bg-light">
      <%= image_tag("stadium-tile.jpg", style: "width: 100%; object-fit: cover;") %>   
      <p>sponsorship</p>
      <p>ticket price</p>
      <p>cards</p>
      <p>substitutions</p>
      <p>board interactions</p>
    </div>
  </div>

  <div class="row flex justify-content-center">  
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light"> 
      <p>turn actions from club screens</p>
      <p>colour code skills if trained to pot</p>
      <p>special events like community chance in monopoly</p>
      <p>loan</p>
    </div>
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">  
      <p>sponsorship</p>
      <p>ticket price</p>
      <p>cards</p>
      <p>substitutions</p>
      <p>board interactions</p>
    </div>
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">  
      <p>turn payment system</p>
      <p>player emails/comms</p>
      <p>international management</p>
      <p>manager rating</p>
      <p>generate youth player</p>
    </div>
    <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light"> 
      <p>turn payment system</p>
      <p>player emails/comms</p>
      <p>international management</p>
      <p>manager rating</p>
      <p>generate youth player</p>
    </div>
  </div>
</div>