<div id="home-container" class='container flex align-items-center col-md-12 shadow'>

<%= render 'hero' %>

<h3 class="text-left">Latest Articles</h3>
<%= render 'articles' %>

<h3 class="text-left">Game Features</h3>
<%= render 'game_features' %>

<h3 class="text-left">Popular Sections</h3>
<%= render 'popular_sections' %>

<h3 class="text-left">Help Pages</h3>
<%= render 'help' %>

<%= render 'signup' %> 

<h3 class="text-left">Contact and Links</h3>
<%= render 'contacts' %>

</div>

<%= javascript_pack_tag 'welcome' %>