<div id="home-container" class='container flex align-items-center col-md-12 shadow'>

<% if @waiting_list %>
  <%= render 'text_waiting' %>
  <%= render 'hero_waiting' %>
<% else %>
  <%= render 'hero_live' %>
<% end %>

<h1 class="text-center">Welcome to FTW</h1>
<%= render 'welcome_text' %>

<h3 class="text-center">FTW Live</h3>
<%= render 'ftw_live' %>

<h3 class="text-center">Popular Sections</h3>
<%= render 'popular_sections' %>

<h3 class="text-center">Game Features</h3>
<%= render 'game_features' %>

<h3 class="text-center">Help Pages</h3>
<%= render 'help' %>

<%= render 'signup' %> 

<h3 class="text-center">Contact and Links</h3>
<%= render 'contacts' %>

</div>

<%= javascript_pack_tag 'welcome' %>