<h4 style="text-align: center">New Articles</h4>
<div class="col-md-12 align-top d-flex justify-content-center"> 
  <table class="table table-hover align-middle table-bordered">
    <tr scope="row">
      <td scope="col">Headline:</td>
      <td>
        <%= form.label :article_headline, style: "display: none" %>
        <%= form.text_field :article_headline, id: "article_headline" %>
      </td>
    </tr>
    <tr scope="row">
      <td scope="col">Sub Headline:</td>
      <td>
        <%= form.label :article_sub_headline, style: "display: none" %>
        <%= form.text_field :article_sub_headline, id: "article_sub_headline", disabled: true %>
      </td>
    </tr>
    <tr scope="row">
      <td scope="col">Article:</td>
      <td>
        <%= form.label :article, style: "display: none" %>
        <%= form.text_area :article, id: "article", disabled: true %>
      </td>
    </tr>
  </table>
</div>
