<%= form_with(model: turnsheet, id: 'turnsheet') do |form| %>
  <% if turnsheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turnsheet.errors.count, "error") %> prohibited this turnsheet from being saved:</h2>
      <ul>
      <% turnsheet.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 align-top d-flex align-items-center justify-content-center">
      <h3>New Turnsheet for <%=  Club.find_by(abbreviation: params[:club])&.name %></h3> 
      </div>
      <div class="col-md-12 align-top d-flex align-items-center justify-content-center">   
        <div class="turnsheet_headers">
          <%= form.label :week, style: "display: inline-block" %>
          <%= form.number_field :week %>
        </div>
        <div class="turnsheet_headers">
          <%= form.label :abbr, style: "display: inline-block" %>
          <%= form.text_field :club, value: Club.find_by(abbreviation: params[:club])&.abbreviation, readonly: true %>
        </div>
        <div class="turnsheet_headers">
          <%= form.label :manager, style: "display: inline-block" %>
          <%= form.text_field :manager, value: Club.find_by(abbreviation: params[:club])&.manager, readonly: true %>
        </div>
        <div class="turnsheet_headers">
          <%= form.label :email, style: "display: inline-block" %>
          <%= form.text_field :email, value: Club.find_by(abbreviation: params[:club])&.manager_email, readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 align-top"> 
          <h4 style="text-align: center">Team Selection</h4>
            <table class="table table-hover table-bordered">
              <tr>
                <th scope="col">Shirt</th>
                <th scope="col">Player</th>
              <tr scope="row">
                <td>Player 1</td>
                <td>
                  <%= form.select :player_1, options_from_collection_for_select(Player.where(club: params[:club], position: "gkp"), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
                </td>
              </tr>
            <tr scope="row">
              <td>Player 2</td>
              <td>
                <%= form.select :player_2, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
              <td>Player 3</td>
              <td>
                <%= form.select :player_3, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
              <td>Player 4</td>
              <td>
                <%= form.select :player_4, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <td>Player 5</td>
              <td>
                <%= form.select :player_5, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <td>Player 6</td>
              <td>
                <%= form.select :player_6, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <td>Player 7</td>
              <td>
                <%= form.select :player_7, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <td>Player 8</td>
              <td>
                <%= form.select :player_8, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <td>Player 9</td>
              <td>
                <%= form.select :player_9, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <td>Player 10</td>
              <td>
                <%= form.select :player_10, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
            <td>Player 11</td>
              <td>
                <%= form.select :player_11, options_from_collection_for_select(Player.where(club: params[:club]), :id, :id_name_with_position_and_skill), prompt: "Select a player" %>
              </td>
            </tr>
          </table>
      </div>

      <div class="col-md-6 align-top"> 
        <h4 style="text-align: center">Player Training</h4>
        <table class="table table-hover table-bordered">
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Player</th>
            <th scope="col">skill</th>
          </tr>
          <tr scope="row">
            <td>Goalkeeper</td>
            <td>
              <%= form.label :train_goalkeeper, style: "display: none" %>
              <%= form.select :train_goalkeeper, options_from_collection_for_select(Player.where(club: params[:club], position: "gkp"), :name, :id_name_with_position_and_skill), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_goalkeeper_skill, style: "display: none" %>
              <%= form.select :train_goalkeeper_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
            </td>
          </tr>
          <tr scope="row">
            <td>Defender</td>
            <td>
              <%= form.label :train_defender, style: "display: none" %>
              <%= form.select :train_defender, options_from_collection_for_select(Player.where(club: params[:club], position: "dfc"), :name, :id_name_with_position_and_skill), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_defender_skill, style: "display: none" %>
              <%= form.select :train_defender_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
            </td>
          </tr>
          <tr scope="row">
            <td>Midfield</td>
            <td>
              <%= form.label :train_midfielder, style: "display: none" %>
              <%= form.select :train_midfielder, options_from_collection_for_select(Player.where(club: params[:club], position: "mid"), :name, :id_name_with_position_and_skill), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_midfielder_skill, style: "display: none" %>
              <%= form.select :train_midfielder_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
              </td>
          </tr>
          <tr scope="row">
            <td>Attack</td>
            <td>
              <%= form.label :train_attacker, style: "display: none" %>
              <%= form.select :train_attacker, options_from_collection_for_select(Player.where(club: params[:club], position: "att"), :name, :id_name_with_position_and_skill), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_attacker_skill, style: "display: none" %>
              <%= form.select :train_attacker_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
            </td>
          </tr>
        </table>
    </div>   

      <div class="col-md-6 align-top"> 
        <h4 style="text-align: center">Club Upgrades</h4>
          <table class="table table-hover table-bordered">
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Area</th>
              <th scope="col">Amount</th>
              <th scope="col">Info</th>
            <tr scope="row">
              <td>Stand</td>
              <td>
                <%= form.select :stadium_upgrade, options_for_select({ "North Stand" => "stand_n_capacity", "South Stand" => "stand_s_capacity", "East Stand" => "stand_e_capacity", "West Stand" => "stand_w_capacity" }), prompt: "Select a stand" %>
              </td>
              <td>
                <%= form.select :stadium_amount, options_for_select([2000, 4000, 6000, 8000, 10000]), prompt: "How many seats?" %>
              </td>
              <td>
                <p>£1000 per seat</p>
              </td>
            </tr>
            <tr scope="row">
              <td>Stand Condition</td>
              <td>
                <%= form.select :stadium_condition_upgrade, options_for_select({ "North Stand" => "stand_n_condition", "South Stand" => "stand_s_condition", "East Stand" => "stand_e_condition", "West Stand" => "stand_w_condition" }), prompt: "Select a stand" %>
              </td>
              <td>
                <p></p>
              </td> 
              <td>
                <p>£100,000</p>
              </td>
            </tr>
            <tr scope="row">
              <td>Coach</td>
              <td>
                <%= form.select :coach_upgrade, options_for_select({ "Select a coach" => "None", "Fitness" => "staff_fit", "Scout" => "staff_scout", "Goalkeeper" => "staff_gkp", "Defence" => "staff_dfc", "Midfield" => "staff_mid", "Attack" => "staff_att" }, selected: "None") %>
              </td>  
              <td>
                <p></p>
              </td> 
              <td>
                <p>£500,000</p>
              </td>
            <tr scope="row">
              <td>Property</td>
              <td>
                <%= form.select :property_upgrade, options_for_select({ "Select a property" => "None", "Pitch" => "Pitch", "Hospitality" => "hospitality", "Facilities" => "facilities" }, selected: "None") %>
              </td>  
              <td>
                <p></p>
              </td>    
              <td>
                <p>£250,000</p>
              </td>
          </table>
        </div>
      </div>

  <div>
    <%= form.submit 'Save Turnsheet', class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>
