<%= form_with(model: @turnsheet, id: 'turnsheet') do |form| %>
  <% if @turnsheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turnsheet.errors.count, "error") %> prohibited this turnsheet from being saved:</h2>
      <ul>
      <% @turnsheet.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='container'>
    <div class="row-turnsheet">
      <%= render partial: 'header', locals: { form: form } %>
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'team', locals: { form: form } %>
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'tactics', locals: { form: form } %>
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'club', locals: { form: form } %>
    </div> 

    <div class='row-turnsheet'>
      <%= render partial: 'player_training', locals: { form: form } %>
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'player_fitness', locals: { form: form } %>
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'player_actions', locals: { form: form } %>
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'transfers', locals: { form: form } %>
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'articles', locals: { form: form } %>    
    </div>

    <div class='row-turnsheet'>
      <%= render partial: 'messaging', locals: { form: form } %>    
    </div>

    <%= form.submit 'Save Turnsheet', class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>

