<%= form_with(model: turnsheet, id: 'turnsheet') do |form| %>
  <% if turnsheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turnsheet.errors.count, "error") %> prohibited this turnsheet from being saved:</h2>
      <ul>
      <% turnsheet.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 align-top d-flex align-items-center justify-content-center">
      <h3>New Turnsheet for <%=  @club.name %></h3> 
      </div>
      <div class="col-md-12 align-top d-flex align-items-center justify-content-center">   
        <div class="turnsheet_headers">
          <%= form.label :week, style: "display: inline-block" %>
          <%= form.number_field :week %>
        </div>
        <div class="turnsheet_headers">
          <%= form.label :Id, style: "display: inline-block" %>
          <%= form.text_field :club_id, value: @club.id, readonly: true %>
        </div>
        <div class="turnsheet_headers">
          <%= form.label :manager, style: "display: inline-block" %>
          <%= form.text_field :manager, value: @club.manager, readonly: true %>
        </div>
        <div class="turnsheet_headers">
          <%= form.label :email, style: "display: inline-block" %>
          <%= form.text_field :email, value: @club.manager_email, readonly: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 align-top"> 
          <h4 style="text-align: center">Team Selection</h4>
            <table class="table table-hover table-bordered">
              <tr>
                <th scope="col">Shirt</th>
                <th scope="col">Player</th>
              <tr scope="row">
                <td>Player 1</td>
                <td>
                  <%= form.select :player_1, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <tr scope="row">
                <td>Player 2</td>
                <td>
                  <%= form.select :player_2, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <tr scope="row">
                <td>Player 3</td>
                <td>
                  <%= form.select :player_3, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <tr scope="row">
                <td>Player 4</td>
                <td>
                  <%= form.select :player_4, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <td>Player 5</td>
                <td>
                  <%= form.select :player_5, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <td>Player 6</td>
                <td>
                  <%= form.select :player_6, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <td>Player 7</td>
                <td>
                  <%= form.select :player_7, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <td>Player 8</td>
                <td>
                  <%= form.select :player_8, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <td>Player 9</td>
                <td>
                  <%= form.select :player_9, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <td>Player 10</td>
                <td>
                  <%= form.select :player_10, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
              <td>Player 11</td>
                <td>
                  <%= form.select :player_11, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]} - TS #{record[:ts]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
                </td>
              </tr>
            </table>
          <h4 style="text-align: center">Club Upgrades</h4>
          <table class="table table-hover table-bordered">
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Area</th>
              <th scope="col">Amount</th>
              <th scope="col">Info</th>
            <tr scope="row">
              <td>Stand</td>
              <td>
                <%= form.select :stadium_upgrade, options_for_select({ "North Stand" => "stand_n_capacity", "South Stand" => "stand_s_capacity", "East Stand" => "stand_e_capacity", "West Stand" => "stand_w_capacity" }), prompt: "Select a stand" %>
              </td>
              <td>
                <%= form.select :stadium_amount, options_for_select([2000, 4000, 6000, 8000, 10000]), prompt: "How many seats?" %>
              </td>
              <td>
                <p>£1000 per seat</p>
              </td>
            </tr>
            <tr scope="row">
              <td>Stand Condition</td>
              <td>
                <%= form.select :stadium_condition_upgrade, options_for_select({ "North Stand" => "stand_n_condition", "South Stand" => "stand_s_condition", "East Stand" => "stand_e_condition", "West Stand" => "stand_w_condition" }), prompt: "Select a stand" %>
              </td>
              <td>
                <p></p>
              </td> 
              <td>
                <p>£100,000</p>
              </td>
            </tr>
            <tr scope="row">
              <td>Coach</td>
              <td>
                <%= form.select :coach_upgrade, options_for_select({ "Fitness" => "staff_fitness", "Scout" => "staff_scouts", "Goalkeeper" => "staff_gkp", "Defence" => "staff_dfc", "Midfield" => "staff_mid", "Attack" => "staff_att" }), prompt: 'Select a coach' %>
              </td>  
              <td>
                <p></p>
              </td> 
              <td>
                <p>£500,000</p>
              </td>
            <tr scope="row">
              <td>Property</td>
              <td>
                <%= form.select :property_upgrade, options_for_select({ "Pitch" => "pitch", "Hospitality" => "hospitality", "Facilities" => "facilities" }), prompt: 'Select a property' %>
              </td>  
              <td>
                <p></p>
              </td>    
              <td>
                <p>£250,000</p>
              </td>
          </table>
        </div>
      </div>

      <div class="col-md-6 align-top">
        <h4 style="text-align: center">Player Team Tactics</h4>
        <table class="table table-hover table-bordered">
          <tr scope="row">
            <td scope="col">Tactic for this game:</td>
            <td>
              <%= form.label :tactic, style: "display: none" %>
              <%= form.select :tactic, options_for_select({ "Normal" => 1, "Passing" => 1, "Defensive" => 2, "Attacking" => 3, "Wide" => 4, "Narrow" => 5, "Direct" => 6 }), prompt: "Select a tactic" %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Pressing style for this game:</td>
            <td>
              <%= form.label :press, style: "display: none"  %>
              <%= form.select :press, options_for_select({"Select a pressing style" => 0, "Heavy Metal Football" => 10, "Strong Press" => 6, "Normal Press" => 3, "No Press" => 0, "Late Press" => -5, "Late Heavy Metal Footy" => -8 }) %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Defence aggression for this game:</td>
            <td>
              <%= form.label :dfc_aggression, style: "display: none" %>
              <%= form.select :dfc_aggression, options_for_select( 1..10 ), prompt: "Select agression" %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Midfield aggression for this game:</td>
            <td>
              <%= form.label :mid_aggression, style: "display: none" %>
              <%= form.select :mid_aggression, options_for_select( 1..10 ), prompt: "Select agression" %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Attack aggression for this game:</td>
            <td>
              <%= form.label :att_aggression, style: "display: none" %>
              <%= form.select :att_aggression, options_for_select( 1..10 ), prompt: "Select agression" %>
            </td>
          </tr>
        </table>
        <h4 style="text-align: center">Player Training</h4>
        <table class="table table-hover table-bordered">
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Player</th>
            <th scope="col">skill</th>
          </tr>
          <tr scope="row">
            <td>Goalkeeper</td>
            <td>
              <%= form.label :train_goalkeeper, style: "display: none" %>
              <%= form.select :train_goalkeeper, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:name]] }, prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_goalkeeper_skill, style: "display: none" %>
              <%= form.select :train_goalkeeper_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
            </td>
          </tr>
          <tr scope="row">
            <td>Defender</td>
            <td>
              <%= form.label :train_defender, style: "display: none" %>
              <%= form.select :train_defender, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:name]] }, prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_defender_skill, style: "display: none" %>
              <%= form.select :train_defender_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
            </td>
          </tr>
          <tr scope="row">
            <td>Midfield</td>
            <td>
              <%= form.label :train_midfielder, style: "display: none" %>
              <%= form.select :train_midfielder, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:name]] }, prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_midfielder_skill, style: "display: none" %>
              <%= form.select :train_midfielder_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
              </td>
          </tr>
          <tr scope="row">
            <td>Attack</td>
            <td>
              <%= form.label :train_attacker, style: "display: none" %>
              <%= form.select :train_attacker, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:name]] }, prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_attacker_skill, style: "display: none" %>
              <%= form.select :train_attacker_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity']), prompt: "Which Skill?" %>
            </td>
          </tr>
        </table>
        <h4 style="text-align: center">Fitness Coaching</h4>
        <table class="table table-hover table-bordered">
          <tr scope="row">
            <td>Player to treat</td>
            <td>
              <%= form.label :fitness_coaching, style: "display: none" %>
              <%= form.select :fitness_coaching, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]}", record[:name]] }, prompt: "Select a player" %>
            </td>
          </tr>
        </table>
        <h4 style="text-align: center">Transfers</h4>
        <table class="table table-hover table-bordered">
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :transfer_type, style: "display: none" %>
              <%= form.select :transfer_type, options_for_select('Unmanaged Bid' => 'unmanaged_bid', 'Circuit Sale' => 'circuit'), prompt: "Select a transfer type?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :transfer_player_id, style: "display: none" %>
              <%= form.text_field :transfer_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :transfer_amount, style: "display: none" %>
              <%= form.text_field :transfer_amount %>
            </td>
          </tr>
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :transfer1_type, style: "display: none" %>
              <%= form.select :transfer1_type, options_for_select('Unmanaged Bid' => 'unmanaged_bid', 'Circuit Sale' => 'circuit'), prompt: "Select a transfer type?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :transfer1_player_id, style: "display: none" %>
              <%= form.text_field :transfer1_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :transfer1_amount, style: "display: none" %>
              <%= form.text_field :transfer1_amount %>
            </td>
          </tr>
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :transfer2_type, style: "display: none" %>
              <%= form.select :transfer2_type, options_for_select('Unmanaged Bid' => 'unmanaged_bid', 'Circuit Sale' => 'circuit'), prompt: "Select a transfer type?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :transfer2_player_id, style: "display: none" %>
              <%= form.text_field :transfer2_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :transfer2_amount, style: "display: none" %>
              <%= form.text_field :transfer2_amount %>
            </td>
          </tr>
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :transfer3_type, style: "display: none" %>
              <%= form.select :transfer3_type, options_for_select('Unmanaged Bid' => 'unmanaged_bid', 'Circuit Sale' => 'circuit'), prompt: "Select a transfer type?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :transfer3_player_id, style: "display: none" %>
              <%= form.text_field :transfer3_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :transfer3_amount, style: "display: none" %>
              <%= form.text_field :transfer3_amount %>
            </td>
          </tr>
        </table>
        <h4 style="text-align: center">Player Actions</h4>
        <table class="table table-hover table-bordered">
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :player_action_1, style: "display: none" %>
              <%= form.select :player_action_1, options_for_select('Contract' => 'contract', 'Pay bonus' => 'loyalty'), prompt: "Select a player action?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :player_action_1_player_id, style: "display: none" %>
              <%= form.text_field :player_action_1_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :player_action_1_var, style: "display: none" %>
              <%= form.text_field :player_action_1_var %>
            </td>
          </tr>
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :player_action_2, style: "display: none" %>
              <%= form.select :player_action_2, options_for_select('Contract' => 'contract', 'Pay bonus' => 'loyalty'), prompt: "Select a player action?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :player_action_2_player_id, style: "display: none" %>
              <%= form.text_field :player_action_2_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :player_action_2_var, style: "display: none" %>
              <%= form.text_field :player_action_2_var %>
            </td>
          </tr>
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :player_action_3, style: "display: none" %>
              <%= form.select :player_action_3, options_for_select('Contract' => 'contract', 'Pay bonus' => 'loyalty'), prompt: "Select a player action?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :player_action_3_player_id, style: "display: none" %>
              <%= form.text_field :player_action_3_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :player_action_3_var, style: "display: none" %>
              <%= form.text_field :player_action_3_var %>
            </td>
          </tr>
          <tr scope="row">
            <td>Type</td>
            <td>
              <%= form.label :player_action_4, style: "display: none" %>
              <%= form.select :player_action_4, options_for_select('Contract' => 'contract', 'Pay bonus' => 'loyalty'), prompt: "Select a player action?" %>
            </td>
            <td>Player ID</td>
            <td>
              <%= form.label :player_action_4_player_id, style: "display: none" %>
              <%= form.text_field :player_action_4_player_id %>
            </td>
            <td>Amount</td>
            <td>
              <%= form.label :player_action_4_var, style: "display: none" %>
              <%= form.text_field :player_action_4_var %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <div>
    <%= form.submit 'Save Turnsheet', class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>
