<h4 class="text-center">News Article</h4>
<div class="col-md-8 mb-5 align-top d-flex flex-column align-items-center m-auto"> 
  <form>
    <div class="mb-3 col-md-8 m-auto">
      <%= form.label :article_headline, class: "form-label" %>
      <%= form.text_field :article_headline, id: "article_headline", class: "form-control" %>
    </div>
    <div class="mb-3 col-md-8 m-aut">
      <%= form.label :article_sub_headline, class: "form-label" %>
      <%= form.text_field :article_sub_headline, id: "article_sub_headline", disabled: true, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-8 m-aut">
      <%= form.label :article, class: "form-label" %>
      <%= form.text_area :article, id: "article", disabled: true, class: "form-control", rows: 5, cols: 50 %>
    </div>
  </form>
</div>

<h4 class="text-center">Club Message</h4>
<div class="col-md-8 align-top d-flex align-items-center m-auto"> 
  <div class="mb-3 col-md-2">
    <%= form.label :club_message, class: "form-label" %>
    <%= form.number_field :club_message, id: "club_message", class: "form-control", step: 1, min: 1 %>
  </div>
  <div class="mb-3 col-md-10">
    <%= form.label :message_text, class: "form-label" %>
    <%= form.text_field :message_text, disabled: true, id: "message_text", class: "form-control"  %>
  </div>
</div>

<h4 class="text-center">Public Message</h4>
<div class="col-md-12 align-top d-flex flex-column align-items-center"> 
  <div class="mb-3 col-md-8">
    <%= form.label :public_message, class: "form-label d-none" %>
    <%= form.text_field :public_message, id: "message_text", class: "form-control"  %>
  </div>
</div>

<script>
  const headlineInput = document.getElementById('article_headline');
  const subHeadlineInput = document.getElementById('article_sub_headline');
  const articleInput = document.getElementById('article');
  const messageInput = document.getElementById('club_message');
  const messageText = document.getElementById('message_text');
  
  headlineInput.addEventListener('input', function() {
      subHeadlineInput.disabled = headlineInput.value.trim() === '';
  });

  subHeadlineInput.addEventListener('input', function() {
      articleInput.disabled = subHeadlineInput.value.trim() === '';
  });

  messageInput.addEventListener('input', function() {
      messageText.disabled = messageInput.value.trim() === '';
  });
</script>