<h4 style="text-align: center">Player Training</h4>
<div class="col-md-12 align-top d-flex align-items-center justify-content-center">
  <%= image_tag "training.jpg", alt: "club stadium", class: "club-stadium m-2" %>
</div>

<% @positions.each do |position| %>
  <div class="col-md-12 align-top d-flex justify-content-center">
    <table>
      <thead class="turnsheet-table-header">
        <%= render 'player_table_header' %>
      </thead>
      <tbody class="turnsheet-table-detail">
        <% @selection.each do |player| %>
          <% if player.position == position %>
          <tr id="trainingRows" class="<%= position %>">
          <td id="player_id" style="width: 50px !important"><%= player.id %></td>
          <td style="width: 150px !important"><%= player.name %></td>
          <td style="width: 50px !important"><%= player.age %></td>
          <td id="position" style="width: 50px !important"><%= (player.position + player.player_position_detail).upcase %></td>
          <td id="passing" class="skill"><%= player.passing %></td>
          <td id="control" class="skill"><%= player.control %></td>
          <td id="tackling" class="skill"><%= player.tackling %></td>
          <td id="running" class="skill"><%= player.running %></td>
          <td id="shooting" class="skill"><%= player.shooting %></td>
          <td id="dribbling" class="skill"><%= player.dribbling %></td>
          <td id="defensive_heading" class="skill"><%= player.defensive_heading %></td>
          <td id="offensive_heading" class="skill"><%= player.offensive_heading %></td>
          <td id="flair" class="skill"><%= player.flair %></td>
          <td id="strength" class="skill"><%= player.strength %></td>
          <td id="creativity" class="skill"><%= player.creativity %></td>
          <td class="training-header"><%= player.total_skill %></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

