<h4 style="text-align: center">Training</h4>

<% @positions.each do |position| %>
  <div class="col-md-12 align-top d-flex justify-content-center">
    <table class="table table-borderless table-hover align-middle align-middle">
      <thead class="table-header">
        <%= render 'player_table_header' %>
      </thead>
      <tbody class="table-detail">
        <% @selection.each do |player| %>
          <% if player.position == position %>
          <tr class="<%= position %>">
          <td class="player_id"><%= player.id %></td>
          <td><%= player.name %></td>
          <td><%= player.age %></td>
          <td><%= (player.position + player.player_position_detail).upcase %></td>
          <td class="skill"><%= player.passing %></td>
          <td class="skill"><%= player.control %></td>
          <td class="skill"><%= player.tackling %></td>
          <td class="skill"><%= player.running %></td>
          <td class="skill"><%= player.shooting %></td>
          <td class="skill"><%= player.dribbling %></td>
          <td class="skill"><%= player.defensive_heading %></td>
          <td class="skill"><%= player.offensive_heading %></td>
          <td class="skill"><%= player.flair %></td>
          <td class="skill"><%= player.strength %></td>
          <td class="skill"><%= player.creativity %></td>
          <td><%= player.total_skill %></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<script>
  const club = <%= @club.to_json.html_safe %>;
  const rows = document.querySelectorAll('tr[class]');
  const selection = <%= @selection.to_json.html_safe %>;

  rows.forEach(function(row) {
    const skillCells = row.querySelectorAll('td.skill'); 
    const position = row.classList[0];
    const staffKey = 'staff_' + position;

    skillCells.forEach(function(cell) {
      if (cell.innerHTML >= club[staffKey]) {
        cell.classList.add('inferior-coach');
      }
    });
    
    const playerIdCell = row.querySelector('td.player_id');
    const playerId = playerIdCell ? playerIdCell.innerHTML : null;
    const player = selection.find(function(player) {
      return player.id == playerId;
    });

    // next job - add a class to a skill if potential reached

    
  });     
</script>
