<tr>
  <td><%= player.id %></td>
  <td><%= player.name %></td>
  <td><%= player.age %></td>
  <td><%= (player.position + player.player_position_detail).upcase %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_passing_coached || player.passing >= club.send("staff_#{position}") %>"><%= player.passing %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_control_coached  || player.control >= club.send("staff_#{position}")%>"><%= player.control %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_tackling_coached  || player.tackling >= club.send("staff_#{position}")%>"><%= player.tackling %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_running_coached  || player.running >= club.send("staff_#{position}")%>"><%= player.running %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_shooting_coached  || player.shooting >= club.send("staff_#{position}")%>"><%= player.shooting %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_dribbling_coached  || player.dribbling >= club.send("staff_#{position}")%>"><%= player.dribbling %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_defensive_heading_coached  || player.defensive_heading >= club.send("staff_#{position}")%>"><%= player.defensive_heading %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_offensive_heading_coached  || player.offensive_heading >= club.send("staff_#{position}")%>"><%= player.offensive_heading %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_flair_coached  || player.flair >= club.send("staff_#{position}")%>"><%= player.flair %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_strength_coached  || player.strength >= club.send("staff_#{position}")%>"><%= player.strength %></td>
  <td style="<%= 'color: lightcoral; font-weight: bolder;' if player.potential_creativity_coached  || player.creativity >= club.send("staff_#{position}")%>"><%= player.creativity %></td>
  <td><%= player.total_skill %></td>
</tr>