<h4 class="text-center">Player Actions</h4>
<div class="col-md-12 align-top d-flex align-items-center justify-content-center">
  <%= image_tag "completed_transfer.jpg", alt: "club stadium", class: "club-stadium m-2" %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <% @all_players.each_with_index do |player, index| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center dark-blue-header-background"><%= player[:name] %></h5>
            <p class="card-text text-center dark-blue-header-background"><%= (player[:position] + player[:player_position_detail]).upcase %> - <%= player[:id] %></p>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <p class="card-text">Age: <%= player[:age] %></p>
                <p class="card-text">TS: <%= player[:total_skill] %></p>
                <% if player[:fitness] < 60 %>
                  <p class="card-text fw-bold text-danger">Fitness: <%= player[:fitness] %></p>
                <% elsif player[:fitness] < 80 %>
                  <p class="card-text fw-bold text-warning">Fitness: <%= player[:fitness] %></p>
                <% else %>
                  <p class="card-text">Fitness: <%= player[:fitness] %></p>
                <% end %>
                <p class="card-text">Listed? <%= player[:listed] ? 'Yes' : 'No' %></p>
              </div>
              <div class="col-md-6">
                <% if player[:contract] < 6 %>
                  <p class="card-text fw-bold text-danger">Contract: <%= player[:contract] %></p>
                <% elsif player[:contract] < 11 %>
                  <p class="card-text fw-bold text-warning">Contract: <%= player[:contract] %></p>
                <% else %>
                  <p class="card-text">Contract: <%= player[:contract] %></p>
                <% end %>
                <p class="card-text">Loyalty: <%= player[:loyalty] %></p>
                <p class="card-text">Performance: <%= player[:average_performance] %></p>
                <p class="card-text">Value: <%= player[:value] %></p>
              </div>
              <hr>
              <div id="player-action-buttons-<%= index %>" class="d-flex justify-content-center align-items-center">
                <button id="blend" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">Blend</button>
                <button id="fitness" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">Fitness</button>
                <button id="contract" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">Contract</button>
                <button id="loyalty" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">Bonus</button>
                <% if player[:listed] %>
                  <button id="unlist" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">Unlist</button>
                <% else %>
                  <button id="list" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">List</button>
                <% end %>
              </div>
              <div id="player-action-amounts-<%= index %>" class="d-flex justify-content-center align-items-center">
                <button id="100000" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">100k</button>
                <button id="250000" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">250k</button>
                <button id="500000" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">500k</button>
                <button id="750000" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">750k</button>
                <button id="1000000" type="button" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center" data-player-id="<%= player[:id] %>">1M</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
