<h4 style="text-align: center">Actions</h4>
<div class="col-md-12 align-top d-flex justify-content-center">   
  <table class="table table-hover align-middle table-bordered">
    <tr scope="row">
      <td>Type</td>
      <td>
        <%= form.label :player_action_1, style: "display: none" %>
        <%= form.select :player_action_1, options_for_select('Contract renewal' => 'contract', 'Pay bonus' => 'loyalty', 'Transfer list player' => 'list', 'Unlist player' => 'unlist'), prompt: "Select a player action?" %>
      </td>
      <td>Player ID</td>
      <td>
        <%= form.label :player_action_1_player_id, style: "display: none" %>
        <%= form.select :player_action_1_player_id, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
      </td>
      <td>Amount</td>
      <td>
        <%= form.label :player_action_1_var, style: "display: none" %>
        <%= form.text_field :player_action_1_var %>
      </td>
    </tr>
    <tr scope="row">
      <td>Type</td>
      <td>
        <%= form.label :player_action_2, style: "display: none" %>
        <%= form.select :player_action_2, options_for_select('Contract renewal' => 'contract', 'Pay bonus' => 'loyalty', 'Transfer list player' => 'list', 'Unlist player' => 'unlist'), prompt: "Select a player action?" %>
      </td>
      <td>Player ID</td>
      <td>
        <%= form.label :player_action_2_player_id, style: "display: none" %>
        <%= form.select :player_action_2_player_id, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
      </td>
      <td>Amount</td>
      <td>
        <%= form.label :player_action_2_var, style: "display: none" %>
        <%= form.text_field :player_action_2_var %>
      </td>
    </tr>
    <tr scope="row">
      <td>Type</td>
      <td>
        <%= form.label :player_action_3, style: "display: none" %>
        <%= form.select :player_action_3, options_for_select('Contract renewal' => 'contract', 'Pay bonus' => 'loyalty', 'Transfer list player' => 'list', 'Unlist player' => 'unlist'), prompt: "Select a player action?" %>
      </td>
      <td>Player ID</td>
      <td>
        <%= form.label :player_action_3_player_id, style: "display: none" %>
        <%= form.select :player_action_3_player_id, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
      </td>
      <td>Amount</td>
      <td>
        <%= form.label :player_action_3_var, style: "display: none" %>
        <%= form.text_field :player_action_3_var %>
      </td>
    </tr>
    <tr scope="row">
      <td>Type</td>
      <td>
        <%= form.label :player_action_4, style: "display: none" %>
        <%= form.select :player_action_4, options_for_select('Contract renewal' => 'contract', 'Pay bonus' => 'loyalty', 'Transfer list player' => 'list', 'Unlist player' => 'unlist'), prompt: "Select a player action?" %>
      </td>
      <td>Player ID</td>
      <td>
        <%= form.label :player_action_4_player_id, style: "display: none" %>
        <%= form.select :player_action_4_player_id, @selection.map { |record| ["#{record[:name]} - #{record[:position]}", record[:id]] }, prompt: "Select a player" %>
      </td>
      <td>Amount</td>
      <td>
        <%= form.label :player_action_4_var, style: "display: none" %>
        <%= form.text_field :player_action_4_var %>
      </td>
    </tr>
  </table>
</div>