<h4 class="text-center">Team Selection</h4>
<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <h6 class="text-center">Available Players</h6>  
    <h6 class="text-center">Click on a player to add them to the team list</h6> 
    <table class="table table-hover align-middle">
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Position
        </th>
        <th>
          Fitness
        </th>
        <th>
          TS
        </th>
      </tr>
      <% @selection.each do |player| %>
        <tr class="player-row" data-player-id="<%= player[:id] %>">
          <td>
            <%= player[:id] %>
          </td>
          <td>
            <%= player[:name] %>
          </td>
          <td>
            <%= (player[:position]+player[:player_position_detail]).upcase %>
          </td>
          <td>
            <%= player[:fitness] %>
          </td>
          <td>
            <%= player[:total_skill] %>
          </td>

        </tr>
      <% end %>
    </table>  
  </div>

  <div class="col-md-3">
    <h6 class="text-center">Selected Players</h6>
    <table class="table table-hover align-middle">
      <% (1..11).each do |index| %>
        <tr>
          <td>
            <%= form.label "player_#{index}".to_sym, style: "display: block" %>
            <%= form.text_field "player_#{index}".to_sym, { class: "player-input", readonly: true } %>
          </td>
        </tr>
      <% end %>
    </table>  
  </div>
</div>
