<h4 class="text-center">Team Selection</h4>
<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <h6 class="text-center">Available Players</h6>  
    <table class="table table-hover align-middle">
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Position
        </th>
        <th>
          Fitness
        </th>
        <th>
          TS
        </th>
      </tr>
      <% @selection.each do |player| %>
        <tr class="player-row" data-player-id="<%= player[:id] %>">
          <td>
            <%= player[:id] %>
          </td>
          <td>
            <%= player[:name] %>
          </td>
          <td>
            <%= (player[:position]+player[:player_position_detail]).upcase %>
          </td>
          <td>
            <%= player[:fitness] %>
          </td>
          <td>
            <%= player[:total_skill] %>
          </td>

        </tr>
      <% end %>
    </table>  
  </div>

  <div class="col-md-3">
    <h6 class="text-center">Selected Players</h6>
    <table class="table table-hover align-middle">
      <% (1..11).each do |index| %>
        <tr>
          <td>
            <%= form.label "player_#{index}".to_sym, style: "display: block" %>
            <%= form.text_field "player_#{index}".to_sym, class: "player-input" %>
          </td>
        </tr>
      <% end %>
    </table>  
  </div>
</div>

<script>
  const playerRows = document.querySelectorAll('.player-row');
  const playerInputs = document.querySelectorAll('.player-input');

  playerRows.forEach((row) => {
    row.addEventListener('click', () => {
      const playerId = row.dataset.playerId;
      const selectedPlayerIndex = Array.from(playerInputs).findIndex(input => input.value === playerId);
      if (selectedPlayerIndex !== -1) {
        playerInputs[selectedPlayerIndex].value = '';
        row.classList.remove('table-success');
      } else {
        const emptyInput = Array.from(playerInputs).find(input => input.value === '');
        if (emptyInput) {
          emptyInput.value = playerId;
          row.classList.add('table-success');
        }
      }
    });
  });

  playerInputs.forEach((input) => {
    input.addEventListener('input', () => {
      const playerId = input.value;
      if (playerId === '') {
        const row = Array.from(playerRows).find(row => row.dataset.playerId === playerId);
        if (row) {
          row.classList.remove('table-success'); // Remove the table-success class
        }
      }
    });
  });
</script>




