<div id="<%= dom_id turnsheet %>">
  <table class="table table-hover">  
    <h4>Club Details</h4>
    <tr>
      <td scope="col">Week</td>
      <td scope="col">Club</td>
      <td scope="col">Manager</td>
      <td scope="col">Email</td>
      <td scope="col">Processed</td>
    </tr>
    <tr scope="row">
      <td>
        <%= turnsheet.week %>
      </td>
      <td>
        <%= turnsheet.club %>
      </td>
      <td>
        <%= turnsheet.manager %>
      </td>
      <td>
        <%= turnsheet.email %>
      </td>
      <td>
        <%= turnsheet.processed %>
      </td>
    <tr>
  </table>
    <table class="table table-hover">
      <h4>Upgrades</h4>
    <tr>
      <td scope="col">Action</td>
      <td scope="col">Seats</td>
    </tr>
    <tr scope="row">
      <td>
        <%= turnsheet.stadium_upgrade %>
      </td>
      <td>
        <%= turnsheet.stadium_amount %>
      </td>
    </tr>
    </tr>  
    <tr> 
      <td>
        <%= turnsheet.stadium_condition_upgrade %>
      </td> 
    </tr> 
     <tr scope="row">
      <td>
        <%= turnsheet.coach_upgrade %>
      </td>
    </tr>  
    <tr> 
      <td>
        <%= turnsheet.property_upgrade %>
      </td> 
    </tr>    
  </table>
  <table class="table table-hover">
      <h4>Training</h4>
    <tr>
      <td scope="col">Position</td>
      <td scope="col">Player</td>
      <td scope="col">Skill</td>
    </tr>
    <tr scope="row">
      <td>
        Goalkeeper</td>
      </td>
      <td>
        <%= turnsheet.train_goalkeeper%>
      </td>
      <td>
        <%= turnsheet.train_goalkeeper_skill %>
      </td>
    </tr>
        <tr scope="row">
      <td>
        Defender</td>
      </td>
      <td>
        <%= turnsheet.train_defender%>
      </td>
      <td>
        <%= turnsheet.train_defender_skill %>
      </td>
    </tr>
        <tr scope="row">
      <td>
        Midfielder</td>
      </td>
      <td>
        <%= turnsheet.train_midfielder%>
      </td>
      <td>
        <%= turnsheet.train_midfielder_skill %>
      </td>
    </tr>
        <tr scope="row">
      <td>
        Attacker</td>
      </td>
      <td>
        <%= turnsheet.train_attacker %>
      </td>
      <td>
        <%= turnsheet.train_attacker_skill %>
      </td>
    </tr>  
  </table>
  <table class="table table-hover">
    <h4>Team</h4>
    <tr scope="col">
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_1) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_2) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_3) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_4) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_5) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_6) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_7) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_8) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_9) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_10) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_11) %>
        <%= player.id_name_with_position_and_skill %>
      </td>
    </tr>
  </table>
        <h4 style="text-align: center">Team Tactics</h4>
        <table class="table table-hover table-bordered">
          <tr scope="row">
            <td scope="col">Tactic for this game:</td>
            <td>
              <% case turnsheet.tactic.to_i %>
                <% when 1 %>
                  Passing
                <% when 2 %>
                  Defensive
                <% when 3 %>
                  Attacking
                <% when 4 %>
                  Wide
                <% when 5 %>
                  Narrow
                <% else %>
                  Direct
                <% end %>
            </td>
          </tr>
        </table>
</div>
