<h6>Turnsheet Information</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Field</th>
    <th scope="col">Value</th>
  </tr>
  <tr scope="row">
    <td>Id</td>
    <td><%= @submitted_turnsheet.id %></td>
  </tr>
  <tr scope="row">
    <td>Week</td>
    <td><%= @submitted_turnsheet.week %></td>
  </tr>
  <tr scope="row">
    <td>Club</td>
    <td><%= @submitted_turnsheet.club_id %></td>
  </tr>
  <tr scope="row">
    <td>Manager</td>
    <td><%= @submitted_turnsheet.manager %></td>
  </tr>
  <tr scope="row">
    <td>Email</td>
    <td><%= @submitted_turnsheet.email %></td>
  </tr>
</table>

<h6>Selection</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Field</th>
    <th scope="col">Value</th>
  </tr>
  <tr scope="row">
    <td>Player 1</td>
    <td><%= @submitted_turnsheet.player_1 %></td>
  </tr>
  <tr scope="row">
    <td>Player 2</td>
    <td><%= @submitted_turnsheet.player_2 %></td>
  </tr>
  <tr scope="row">
    <td>Player 3</td>
    <td><%= @submitted_turnsheet.player_3 %></td>
  </tr>
  <tr scope="row">
    <td>Player 4</td>
    <td><%= @submitted_turnsheet.player_4 %></td>
  </tr>
  <tr scope="row">
    <td>Player 5</td>
    <td><%= @submitted_turnsheet.player_5 %></td>
  </tr>
  <tr scope="row">
    <td>Player 6</td>
    <td><%= @submitted_turnsheet.player_6 %></td>
  </tr>
  <tr scope="row">
    <td>Player 7</td>
    <td><%= @submitted_turnsheet.player_7 %></td>
  </tr>
  <tr scope="row">
    <td>Player 8</td>
    <td><%= @submitted_turnsheet.player_8 %></td>
  </tr>
  <tr scope="row">
    <td>Player 9</td>
    <td><%= @submitted_turnsheet.player_9 %></td>
  </tr>
  <tr scope="row">
    <td>Player 10</td>
    <td><%= @submitted_turnsheet.player_10 %></td>
  </tr>
  <tr scope="row">
    <td>Player 11</td>
    <td><%= @submitted_turnsheet.player_11 %></td>
  </tr>
</table>

<h6>Tactics</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Field</th>
    <th scope="col">Value</th>
  </tr>
  <tr scope="row">
    <td>DFC Aggression</td>
    <td><%= @submitted_turnsheet.dfc_aggression %></td>
  </tr>
  <tr scope="row">
    <td>MID agression</td>
    <td><%= @submitted_turnsheet.mid_aggression %></td>
  </tr>
  <tr scope="row">
    <td>ATT aggression</td>
    <td><%= @submitted_turnsheet.att_aggression %></td>
  </tr>
  <tr scope="row">
    <td>Tactic</td>
    <td><%= @submitted_turnsheet.tactic %></td>
  </tr>
  <tr scope="row">
    <td>Press</td>
    <td><%= @submitted_turnsheet.press %></td>
  </tr>
</table>

<h6>Upgrades</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Field</th>
    <th scope="col">Value</th>
  </tr>
  <tr scope="row">
    <td>Stadium Upgrade</td>
    <td><%= @submitted_turnsheet.stadium_upgrade %></td>
  </tr>
  <tr scope="row">
    <td>Stadium Upgrade Amount</td>
    <td><%= @submitted_turnsheet.stadium_amount %></td>
  </tr>
  <tr scope="row">
    <td>Condition Upgrade</td>
    <td><%= @submitted_turnsheet.stadium_condition_upgrade %></td>
  </tr>
  <tr scope="row">
    <td>Coach Upgrade</td>
    <td><%= @submitted_turnsheet.coach_upgrade %></td>
  </tr>
  <tr scope="row">
    <td>Property Upgrade</td>
    <td><%= @submitted_turnsheet.property_upgrade %></td>
  </tr>
</table>

<h6>Training</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Field</th>
    <th scope="col">Value</th>
    <th scope="col">Skill</th>
  </tr>
  <tr scope="row">
    <td>Goalkeeper</td>
    <td><%= @submitted_turnsheet.train_goalkeeper %></td>
    <td><%= @submitted_turnsheet.train_goalkeeper_skill %></td>
  </tr>
  <tr scope="row">
    <td>Defender</td>
    <td><%= @submitted_turnsheet.train_defender %></td>
    <td><%= @submitted_turnsheet.train_defender_skill %></td>
  </tr>
  <tr scope="row">
    <td>Midfielder</td>
    <td><%= @submitted_turnsheet.train_midfielder %></td>
    <td><%= @submitted_turnsheet.train_midfielder_skill %></td>
  </tr>
  <tr scope="row">
    <td>Attacker</td>
    <td><%= @submitted_turnsheet.train_attacker %></td>
    <td><%= @submitted_turnsheet.train_attacker_skill %></td>
  </tr>
  <tr scope="row">
    <td>Fitness Coaching</td>
    <td><%= @submitted_turnsheet.fitness_coaching %></td>
  </tr>
</table>

<h6>Transfers</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Type</th>
    <th scope="col">Player Id</th>
    <th scope="col">Amount</th>
    <th scope="col">Other Club</th>
  </tr>
  <tr scope="row">
    <td><%= @submitted_turnsheet.transfer_type %></td>
    <td><%= @submitted_turnsheet.transfer_player_id%></td>
    <td><%= @submitted_turnsheet.transfer_amount %></td>
    <td><%= @submitted_turnsheet.transfer_club %></td>
  </tr>
  <tr scope="row">
    <td><%= @submitted_turnsheet.transfer1_type %></td>
    <td><%= @submitted_turnsheet.transfer1_player_id%></td>
    <td><%= @submitted_turnsheet.transfer1_amount %></td>
    <td><%= @submitted_turnsheet.transfer1_club %></td>
  </tr>
  <tr scope="row">
    <td><%= @submitted_turnsheet.transfer2_type %></td>
    <td><%= @submitted_turnsheet.transfer2_player_id%></td>
    <td><%= @submitted_turnsheet.transfer2_amount %></td>
    <td><%= @submitted_turnsheet.transfer2_club %></td>
  </tr>
  <tr scope="row">
    <td><%= @submitted_turnsheet.transfer3_type %></td>
    <td><%= @submitted_turnsheet.transfer3_player_id%></td>
    <td><%= @submitted_turnsheet.transfer3_amount %></td>
    <td><%= @submitted_turnsheet.transfer3_club %></td>
  </tr>
</table>

<h6>Player Actions</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Type</th>
    <th scope="col">Player Id</th>
    <th scope="col">Amount</th>
  </tr>
  <% @submitted_turnsheet.player_actions.each do |action| %>
    <tr scope="row">
      <td><%= action.action %></td>
      <td><%= action.player_id%></td>
      <td><%= action.amount %></td>
    </tr>
  <% end %>
</table>

<h6>Messaging</h6>
<table class="table table-hover align-middle mb-5">
  <tr class="table-header">
    <th scope="col">Club</th>
    <th scope="col">Headline</th>
    <th scope="col">Sub Headline</th>
    <th scope="col">Message</th>
  </tr>
  <tr scope="row">
    <td></td>
    <td><%= @submitted_turnsheet.article_headline %></td>
    <td><%= @submitted_turnsheet.article_sub_headline %></td>
    <td><%= @submitted_turnsheet.article %></td>
  </tr>
  <tr scope="row">
    <td><%= @submitted_turnsheet.club_message %></td>
    <td></td>
    <td></td>
    <td><%= @submitted_turnsheet.message_text %></td>
  </tr>
  <tr scope="row">
    <td></td>
    <td></td>
    <td></td>
    <td><%= @submitted_turnsheet.public_message %></td>
  </tr>
</table>