<div id="<%= dom_id turnsheet %>">
  <p>
    <strong>Week:</strong>
    <%= turnsheet.week %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= turnsheet.club %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= turnsheet.manager %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= turnsheet.email %>
  </p>

</div>
