<div id="<%= dom_id turnsheet %>">
  <table class="table table-hover align-middle">  
    <h4>Club Details</h4>
    <tr>
      <td scope="col">Week</td>
      <td scope="col">Club</td>
      <td scope="col">Manager</td>
      <td scope="col">Email</td>
      <td scope="col">Processed</td>
    </tr>
    <tr scope="row">
      <td>
        <%= turnsheet.week %>
      </td>
      <td>
        <%= turnsheet.club %>
      </td>
      <td>
        <%= turnsheet.manager %>
      </td>
      <td>
        <%= turnsheet.email %>
      </td>
      <td>
        <%= turnsheet.processed %>
      </td>
    <tr>
  </table>
    <table class="table table-hover align-middle">
      <h4>Upgrades</h4>
    <tr>
      <td scope="col">Action</td>
      <td scope="col">Seats</td>
    </tr>
    <tr scope="row">
      <td>
        <%= turnsheet.stadium_upgrade %>
      </td>
      <td>
        <%= turnsheet.stadium_amount %>
      </td>
    </tr>
    </tr>  
    <tr> 
      <td>
        <%= turnsheet.stadium_condition_upgrade %>
      </td> 
    </tr> 
     <tr scope="row">
      <td>
        <%= turnsheet.coach_upgrade %>
      </td>
    </tr>  
    <tr> 
      <td>
        <%= turnsheet.property_upgrade %>
      </td> 
    </tr>    
  </table>
  <table class="table table-hover align-middle">
      <h4>Training</h4>
    <tr>
      <td scope="col">Position</td>
      <td scope="col">Player</td>
      <td scope="col">Skill</td>
    </tr>
    <tr scope="row">
      <td>
        Goalkeeper</td>
      </td>
      <td>
        <%= turnsheet.train_goalkeeper%>
      </td>
      <td>
        <%= turnsheet.train_goalkeeper_skill %>
      </td>
    </tr>
        <tr scope="row">
      <td>
        Defender</td>
      </td>
      <td>
        <%= turnsheet.train_defender%>
      </td>
      <td>
        <%= turnsheet.train_defender_skill %>
      </td>
    </tr>
        <tr scope="row">
      <td>
        Midfielder</td>
      </td>
      <td>
        <%= turnsheet.train_midfielder%>
      </td>
      <td>
        <%= turnsheet.train_midfielder_skill %>
      </td>
    </tr>
        <tr scope="row">
      <td>
        Attacker</td>
      </td>
      <td>
        <%= turnsheet.train_attacker %>
      </td>
      <td>
        <%= turnsheet.train_attacker_skill %>
      </td>
    </tr>  
    </tr>
        <tr scope="row">
      <td>
        Fitness Coaching</td>
      </td>
      <td>
        <%= turnsheet.fitness_coaching %>
      </td>
    </tr>
  </table>
  <table class="table table-hover align-middle">
    <h4>Team</h4>
    <tr scope="col">
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_1) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_2) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_3) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_4) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_5) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_6) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_7) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_8) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_9) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_10) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
    <tr scope="row">
      <td>
        <% player = Player.find(turnsheet.player_11) %>
        <%= player.player_selection_information %>
      </td>
    </tr>
  </table>
        <h4 style="text-align: center">Team Tactics</h4>
        <table class="table table-hover align-middle table-bordered">
          <tr scope="row">
            <td scope="col">Tactic for this game:</td>
            <td>
              <% case turnsheet.tactic.to_i %>
                <% when 0 %>
                  Normal
                <% when 1 %>
                  Passing
                <% when 2 %>
                  Defensive
                <% when 3 %>
                  Attacking
                <% when 4 %>
                  Wide
                <% when 5 %>
                  Narrow
                <% else %>
                  Direct
                <% end %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Pressing style for this game:</td>
            <td>
              <% case turnsheet.press.to_i %>
                <% when 10 %>
                  Heavy Meteal Football
                <% when 6 %>
                  Strong Press
                <% when 3 %>
                  Normal Press
                <% when 0 %>
                  No Press
                <% when -5 %>
                  Late Press
                <% else %>
                  Late Heavy Metal Footy
                <% end %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Defence aggression for this game:</td>
            <td>
              <%= turnsheet.dfc_aggression %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Midfield aggression for this game:</td>
            <td>
              <%= turnsheet.mid_aggression %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Attack aggression for this game:</td>
            <td>
              <%= turnsheet.att_aggression %>
            </td>
          </tr>
        </table>
</div>
