<h1>Editing turnsheet</h1>
<%= form_with(model: @turnsheet, local: true) do |form| %>
  <% if @turnsheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@turnsheet.errors.count, "error") %> prohibited this turnsheet from being saved:</h2>
      <ul>
      <% @turnsheet.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 align-top d-flex align-items-center justify-content-center">
        <h3>Turnsheet for <%= Club.find_by(abbreviation: @turnsheet.club)&.name %></h3> 
      </div>
      <div class="col-md-12 align-top d-flex align-items-center justify-content-center">   
        <div>
          <%= form.label :week, style: "display: inline-block" %>
          <%= form.number_field :week %>
        </div>
        <div>
          <%= form.label :club, style: "display: inline-block" %>
          <%= form.text_field :club, value: @turnsheet.club, readonly: true %>
        </div>
        <div>
          <%= form.label :manager, style: "display: inline-block" %>
          <%= form.text_field :manager, value: @turnsheet.manager, readonly: true %>
        </div>
        <div>
          <%= form.label :email, style: "display: inline-block" %>
          <%= form.text_field :email, value: @turnsheet.email, readonly: true %>
        </div>
        <div>
          <%= form.label :processed, style: "display: inline-block" %>
          <%= form.text_field :processed, value: @turnsheet.processed, readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-top d-flex align-items-center justify-content-center">
          <table class="table table-hover">
            <th><h4>Club Upgrades</h4></th>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Area</th>
              <th scope="col">Amount</th>
            <tr scope="row">
              <td>Stand</td>
              <td>
                <%= form.select :stadium_upgrade, options_for_select({ "North Stand" => "stand_n_capacity", "South Stand" => "stand_s_capacity", "East Stand" => "stand_e_capacity", "West Stand" => "stand_w_capacity" }, @turnsheet.stadium_upgrade), prompt: "Select a stand" %>
              </td>
              <td>
                <%= form.select :stadium_amount, options_for_select([2000, 4000, 6000, 8000, 10000], @turnsheet.stadium_amount), prompt: "How many seats?" %>
              </td>
            </tr>
            <td>Stand condition</td>
              <td>
                <%= form.select :stadium_condition_upgrade, options_for_select({ "North Stand" => "stand_n_condition", "South Stand" => "stand_s_condition", "East Stand" => "stand_e_condition", "West Stand" => "stand_w_condition" }, @turnsheet.stadium_upgrade), prompt: "Select a stand" %>
              </td>
            </tr>
            <tr scope="row">
              <td>Coach</td>
              <td>
                <%= form.select :coach_upgrade, options_for_select({ "Fitness" => "staff_fitness", "Scout" => "staff_scouts", "Goalkeeper" => "staff_gkp", "Defence" => "staff_dfc", "Midfield" => "staff_mid", "Attack" => "staff_att" }, @turnsheet.coach_upgrade), prompt: "Select a coach" %>
              </td>
            </tr>
            <tr scope="row">
              <td>Property</td>
              <td>
                <%= form.select :property_upgrade, options_for_select({ "Pitch" => "pitch", "Hospitality" => "hospitality", "Facilities" => "facilities" }, @turnsheet.coach_upgrade), prompt: "Select a property" %>
              </td>
            </tr>    
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 align-top"> 
          <h4>Team Selection</h4>
            <table class="table table-hover">
              <tr>
                <th scope="col">Shirt</th>
                <th scope="col">Player</th>
              <tr scope="row">
                <td>Player 1</td>
                <td>
                  <%= form.select :player_1, options_from_collection_for_select(Player.where(club: @turnsheet.club, position: "gkp"), :id, :player_selection_information, @turnsheet.player_1), prompt: "Select a player" %>
                </td>
              </tr>
              <tr scope="row">
              <td>Player 2</td>
              <td>
                <%= form.select :player_2, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_2), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
              <td>Player 3</td>
              <td>
                <%= form.select :player_3, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_3), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
              <td>Player 4</td>
              <td>
                <%= form.select :player_4, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_4), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
            <td>Player 5</td>
              <td>
                <%= form.select :player_5, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_5), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
            <td>Player 6</td>
              <td>
                <%= form.select :player_6, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_6), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
            <td>Player 7</td>
              <td>
                <%= form.select :player_7, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_7), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
            <td>Player 8</td>
              <td>
                <%= form.select :player_8, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_8), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
            <td>Player 9</td>
              <td>
                <%= form.select :player_9, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_9), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
            <td>Player 10</td>
              <td>
                <%= form.select :player_10, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_10), prompt: "Select a player" %>
              </td>
            </tr>
            <tr scope="row">
            <td>Player 11</td>
              <td>
                <%= form.select :player_11, options_from_collection_for_select(Player.where(club: @turnsheet.club), :id, :player_selection_information, @turnsheet.player_11), prompt: "Select a player" %>
              </td>
            </tr>
          </table>
      </div>

      <div class="col-md-6 align-top"> 
        <h4 style="text-align: center">Player Team Tactics</h4>
        <table class="table table-hover table-bordered">
          <tr scope="row">
            <th scope="col">Select you tactic</th>
          </tr>
          <tr scope="row">
            <td scope="col">Tactic for this game:</td>
            <td>
              <%= form.label :tactic, style: "display: none" %>
              <%= form.select :tactic, options_for_select({  "Normal" => 0, "Passing" => 1, "Defensive" => 2, "Attacking" => 3, "Wide" => 4, "Narrow" => 5, "Direct" => 6 }, @turnsheet.tactic), prompt: "Select a tactic" %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Pressing style for this game:</td>
            <td>
              <%= form.label :tactic, style: "display: none" %>
              <%= form.select :tactic, options_for_select({"Please select a press style" => 0, "Heavy Metal Football" => 10, "Strong Press" => 6, "Normal Press" => 3, "No Press" => 0, "Late Press" => -5, "Late Heavy Metal Footy" => -8 }, @turnsheet.press), prompt: "Select a tactic" %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Defence aggression for this game:</td>
            <td>
              <%= form.label :dfc_aggression, style: "display: none" %>
              <%= form.select :dfc_aggression, options_for_select( 1..10, @turnsheet.dfc_aggression ), prompt: "Select agression" %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Midfield aggression for this game:</td>
            <td>
              <%= form.label :mid_aggression, style: "display: none" %>
              <%= form.select :mid_aggression, options_for_select( 1..10, @turnsheet.mid_aggression ), prompt: "Select agression" %>
            </td>
          </tr>
          <tr scope="row">
            <td scope="col">Attack aggression for this game:</td>
            <td>
              <%= form.label :att_aggression, style: "display: none" %>
              <%= form.select :att_aggression, options_for_select( 1..10, @turnsheet.att_aggression ), prompt: "Select agression" %>
            </td>
          </tr>
        </table>
        <h4>Player Training</h4>
        <table class="table table-hover">
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Player</th>
            <th scope="col">skill</th>
          </tr>
          <tr scope="row">
            <td>Goalkeeper</td>
            <td>
              <%= form.label :train_goalkeeper, style: "display: none" %>
              <%= form.select :train_goalkeeper, options_from_collection_for_select(Player.where(club: @turnsheet.club, position: "gkp"), :name, :player_selection_information, @turnsheet.train_goalkeeper), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_goalkeeper_skill, style: "display: none" %>
              <%= form.select :train_goalkeeper_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity'], @turnsheet.train_goalkeeper_skill), prompt: "Which Skill?" %>
            </td>
          </tr>
          <tr scope="row">
            <td>Defender</td>
            <td>
              <%= form.label :train_defender, style: "display: none" %>
              <%= form.select :train_defender, options_from_collection_for_select(Player.where(club: @turnsheet.club, position: "dfc"), :name, :player_selection_information, @turnsheet.train_defender), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_defender_skill, style: "display: none" %>
              <%= form.select :train_defender_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity'], @turnsheet.train_defender_skill), prompt: "Which Skill?" %>
            </td>
          </tr>
          <tr scope="row">
            <td>Midfield</td>
            <td>
              <%= form.label :train_midfielder, style: "display: none" %>
              <%= form.select :train_midfielder, options_from_collection_for_select(Player.where(club: @turnsheet.club, position: "mid"), :name, :player_selection_information, @turnsheet.train_midfielder), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_midfielder_skill, style: "display: none" %>
              <%= form.select :train_midfielder_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity'], @turnsheet.train_midfielder_skill), prompt: "Which Skill?" %>
              </td>
          </tr>
          <tr scope="row">
            <td>Attack</td>
            <td>
              <%= form.label :train_attacker, style: "display: none" %>
              <%= form.select :train_attacker, options_from_collection_for_select(Player.where(club: @turnsheet.club, position: "att"), :name, :player_selection_information, @turnsheet.train_attacker), prompt: "Select a player" %>
            </td>
            <td>
              <%= form.label :train_attacker_skill, style: "display: none" %>
              <%= form.select :train_attacker_skill, options_for_select(['passing', 'control', 'tackling', 'running', 'shooting', 'dribbling', 'defensive_heading', 'offensive_heading', 'flair', 'strength', 'creativity'], @turnsheet.train_attacker_skill), prompt: "Which Skill?" %>
            </td>
          </tr>
        </table>
        <h4 style="text-align: center">Fitness Coaching</h4>
        <table class="table table-hover table-bordered">
          <tr scope="row">
            <td>Player to treat</td>
            <td>
              <%= form.label :fitness_coaching, style: "display: none" %>
              <%= form.select :fitness_coaching, options_from_collection_for_select(Player.where(club: @turnsheet.club), :name, :player_selection_information, @turnsheet.fitness_coaching), prompt: "Select a player" %>
            </td>
          </tr>
        </table>
      </div>
  </div>

  <div>
    <%= link_to "Cancel and go back to turnsheets", turnsheets_path, class: "btn btn-sm btn-primary"  %>
    <%= form.submit 'Save Changes', class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>
