<p style="color: green"><%= notice %></p>

<h1>Turnsheets</h1>
<br>
<form action="/turnsheets/process_turnsheet" method="post">
  <button type="submit">Process Turnsheets</button>
</form>
<br>
<%= form_tag new_turnsheet_path, method: :get do %>
  <%= select_tag :club, options_from_collection_for_select(Club.all, :abbreviation, :name), prompt: "Select a club" %>
  <%= submit_tag "New turnsheet" %>
<% end %>
<br>
<div id="turnsheets">
  <% @turnsheets.each do |turnsheet| %>
    <%= render turnsheet %>
    <p>
      <%= link_to "Show this turnsheet", turnsheet %>
    </p>
  <% end %>
</div>
