<div id="form-body">
  <%= form_with(model: @turnsheet, id: 'turnsheetForm') do |form| %>
    <div id="header-form" class="shown start">
      <%= render "header", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="club-actions-form">
      <%= render "club", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="coaching-form">
    <%= render "player_training", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="player-actions-form">
    <%= render "player_actions", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="match-actions-form">
      <%= render "team", turnsheet: @turnsheet, form: form %>
      <%= render "tactics", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="scouting-form">
      <%= render "scouting", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="transfer-form">
      <%= render "transfers", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="messages-form">
      <%= render "messaging", turnsheet: @turnsheet, form: form %>
    </div>

    <div id="hidden_inputs"><div>

    <%= form.fields_for :player_actions do |action_form| %>
      <div id="player_inputs"></div>
    <% end %>

    <div>
      <%= form.submit 'Save Turnsheet', id: 'submitButton', class: 'btn btn-lg btn-danger disabled d-flex justify-content-center m-auto mt-5' %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'turnsheet' %>
