<div id="form-body">
  <%= form_with(model: @turnsheet, id: 'turnsheetForm') do |form| %>
    <div id="header-form" class="shown start">
      <%= render "header", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="club-actions-form">
      <%= render "club", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="coaching-form">
    <%= render "player_training", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="player-actions-form">
    <%= render "player_actions", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="match-actions-form">
      <%= render "team", turnsheet: @turnsheet, form: form %>
      <%= render "tactics", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="transfer-form">
      <%= render "transfers", turnsheet: @turnsheet, form: form %>
    </div>
    <hr>
    <div id="messages-form">
      <%= render "messaging", turnsheet: @turnsheet, form: form %>
    </div>

    <div id="hidden_inputs"><div>

    <%= form.fields_for :player_actions do |action_form| %>
      <div id="player_inputs">
      
      </div>
    <% end %>

    <div>
      <%= form.submit 'Save Turnsheet', id: 'submitButton', class: 'btn btn-lg btn-danger disabled d-flex justify-content-center m-auto mt-5' %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'turnsheet' %>

<script>
window.addEventListener('load', function() {
  const squadListing = <%= @selection.to_json.html_safe %>;
  const club = <%= @club.to_json.html_safe %>;
  const playerTrainingRows = document.querySelectorAll('tr#trainingRows');

  playerTrainingRows.forEach(function(row) {
    const playerIdCell = row.querySelector('td#player_id');
    const playerId = playerIdCell ? playerIdCell.innerHTML : null;

    const player = squadListing.find(function(player) {
      return player.id == playerId;
    });

    if (player) {
      initializeSkillCells(row, player);
    };
  });

  function initializeSkillCells(row, player) {
    const skillCells = row.querySelectorAll('td.skill'); 
    const position = row.classList[0];
    const staffKey = 'staff_' + position;

    skillCells.forEach(function(cell) {
      if (Number(cell.innerHTML) >= club[staffKey]) {
        cell.classList.add('inferior');
      };

      const potentialCheck = 'potential_' + cell.id + '_coached';

      if (player[potentialCheck] === true) {
        cell.classList.add('potential');
      };
    });
  };
});
</script>

