<h3>Turnsheet for <%=  Club.find_by(id: @turnsheet.club_id)&.name %></h3>

<%= render 'form' %>

<div>
  <%= link_to "Edit this turnsheet", edit_turnsheet_path, class: "btn btn-sm btn-primary" %> 
  <%= link_to "Back to turnsheets", turnsheets_path, class: "btn btn-sm btn-primary"  %>
  <%= link_to "Destroy this turnsheet", @turnsheet, method: :delete, class: "btn btn-sm btn-danger"   %>
</div>
