<p style="color: green"><%= notice %></p>

<%= render @turnsheet %>

<div>
  <%= link_to "Edit this turnsheet", edit_turnsheet_path(@turnsheet) %> |
  <%= link_to "Back to turnsheets", turnsheets_path %>

  <%= button_to "Destroy this turnsheet", @turnsheet, method: :delete %>
</div>
