<div class="container align-items-start">
  <div class="row text-center">
    <div class="col-md-12">
      <h2><%= @club.name %></h2>
      <h5>Primary Club Color: <%= @club.color_primary %></h5>             
      <h5>Secondary Club Color: <%= @club.color_secondary %></h5>
    </div>
  </div>
  <br>
  <br>
  <br>
    <div class="text-left">
    <div class="row text-left">
      <h3 class="text-center">Income and Expenditure This Week</h3>
      <div class="col-md-6">
        <%= render "income" %>
      </div>
      <div class="col-md-6">
        <%= render "payments" %>
      </div>
    </div>
    <h4 class="text-center">Closing Bank Balance: £<%= @club.bank_bal %></h4>
    <br>
    <br>
    <br>
  </div>

  <div class="text-left">
    <div class="row text-left">
      <%= render "messages_finance" %>
    </div>
  </div>
</div>