<h1>Selections</h1>

<form action="/selections" method="get">
  <label for="club_id">Select club id:</label>
  <select name="club_id" id="club_id">
    <% @clubs.each do |club| %>
      <option value="<%= club.id %>">club_id <%= club.id %> - <%= club.name %></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>

<h3 class="mb-5 mt-5">Club: <%= params[:club_id]%> </h3>

<% if params[:club_id].present? %>
  <%= render 'form', club_id: params[:club_id], selected_clubs: @selected_clubs %>
<% end %>
