<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-hover">
    <tr>
      <th scope="col">Attribute</th>
      <th scope="col">Value</th>
      <th scope="col">Potential</th>
    </tr>
    <tr scope="row">
      <td><%= form.label :name, style: "display: block" %></td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :age, style: "display: block" %></td>
      <td><%= form.text_field :age %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :nationality, style: "display: block" %></td>
      <td><%= form.text_field :nationality %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :position, style: "display: block" %></td>
      <td><%= form.text_field :position %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :player_position_detail, style: "display: block" %></td>
      <td><%= form.text_field :player_position_detail %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :passing, style: "display: block" %></td>
      <td><%= form.text_field :passing %></td>
      <td><%= form.text_field :potential_passing %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :control, style: "display: block" %></td>
      <td><%= form.text_field :control %></td>
      <td><%= form.text_field :potential_control %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :tackling, style: "display: block" %></td>
      <td><%= form.text_field :tackling %></td>
      <td><%= form.text_field :potential_tackling %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :running, style: "display: block" %></td>
      <td><%= form.text_field :running %></td>
      <td><%= form.text_field :potential_running %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :shooting, style: "display: block" %></td>
      <td><%= form.text_field :shooting %></td>
      <td><%= form.text_field :potential_shooting %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :dribbling, style: "display: block" %></td>
      <td><%= form.text_field :dribbling %></td>
      <td><%= form.text_field :potential_dribbling %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :defensive_heading, style: "display: block" %></td>
      <td><%= form.text_field :defensive_heading %></td>
      <td><%= form.text_field :potential_defensive_heading %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :offensive_heading, style: "display: block" %></td>
      <td><%= form.text_field :offensive_heading %></td>
      <td><%= form.text_field :potential_offensive_heading %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :flair, style: "display: block" %></td>
      <td><%= form.text_field :flair %></td>
      <td><%= form.text_field :potential_flair %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :strength, style: "display: block" %></td>
      <td><%= form.text_field :strength %></td>
      <td><%= form.text_field :potential_strength %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :creativity, style: "display: block" %></td>
      <td><%= form.text_field :creativity %></td>
      <td><%= form.text_field :potential_creativity %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :fitness, style: "display: block" %></td>
      <td><%= form.text_field :fitness %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :contract, style: "display: block" %></td>
      <td><%= form.text_field :contract %></td>
    </tr>  
    <tr scope="row">
      <td><%= form.label :club, style: "display: block" %></td>
      <td><%= form.text_field :club %></td>
    </tr>
    <tr scope="row">
      <td><%= form.label :consistency, style: "display: block" %></td>
      <td><%= form.text_field :consistency %></td>
    </tr>
    </tr>
    <tr scope="row">
      <td><%= form.label :blend, style: "display: block" %></td>
      <td><%= form.text_field :blend %></td>
    </tr>
  </tbody>
</table>
  <div>
    <%= form.submit 'Save Changes', class: "btn btn-sm btn-danger"%>
  </div>
<% end %>
