<%= will_paginate @p_players %>

<h1>Players</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
      <th scope="col">Total Skill</th>
      <th scope="col">Played</th>
      <th scope="col">Total Goals</th>
      <th scope="col">Total Assists</th>
      <th scope="col">Average Perf</th>
    </tr>
  </thead>
  <tbody>
    <% @p_players.each do |player| %>
      <tr scope="row">
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.nationality %></td>
        <td><%= player.pos %></td>
        <td><%= player.total_skill %></td>
        <td><%= PlMatch.where(player_id: player.id).count(:match_perf) %></td>
        <td><%= PlStat.where(player_id: player.id, goal: true).count %></td>
        <td><%= PlStat.where(player_id: player.id, assist: true).count %></td>
        <td><%= PlMatch.where(player_id: player.id).average(:match_perf).to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>


