<h1>Transfer Listed Players</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Club</th>
      <th scope="col">Nat</th>
      <th scope="col">Pos</th>
      <th scope="col">TS</th>
      <% if current_user && current_user.gm? %>
      <th scope="col">Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    
    <% @listed.each do |player| %>
      <tr scope="row">
        <td><%= player[:id] %></td>
        <td><%= player[:name] %></td>
        <td><%= player[:age] %></td>
        <td><%= Club.find_by(id: player[:club_id])&.name %></td>
        <td><%= player[:nationality] %></td>
        <td><%= player[:position] %></td>
        <td><%= player[:total_skill] %></td>
        <% if current_user && current_user.gm? %>
        <td><%= link_to "Show", player_path(player[:id]), class: "btn btn-sm btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
