<p style="color: green"><%= notice %></p>
<br>
<br>
<form action="/players/sort_players" method="get">
  <label for="sort_column">Sort by:</label>
  <select id="sort_column" name="sort_column">
    <option value="name">Name</option>
    <option value="age">Age</option>
    <option value="club">Club</option>
    <option value="nationality">Nat</option>
    <option value="position">Pos</option>
    <option value="total_skill">TS</option>
    <option value="match_performance_count">Played</option>
    <option value="goal_count">Goal</option>
    <option value="assist_count">Assist</option>
    <option value="average_match_performance">Perf</option>
  </select>
  <label for="sort_direction">Sort by:</label>
  <select id="sort_direction" name="sort_direction">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
  <input type="text" id="sort_criteria" name="sort_criteria">
  <button type="submit" class="btn btn-primary btn-sm">Sort</button>
</form>
<br>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Club</th>
      <th scope="col">Nat</th>
      <th scope="col">Pos</th>
      <th scope="col">TS</th>
      <th scope="col">P</th>
      <th scope="col">Gls</th>
      <th scope="col">Ast</th>
      <th scope="col">Perf</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    
    <% @sorted.each do |player| %>
      <tr scope="row">
        <td><%= player[:name] %></td>
        <td><%= player[:age] %></td>
        <td><%= player[:club] %></td>
        <td><%= player[:nationality] %></td>
        <td><%= player[:position] %></td>
        <td><%= player[:total_skill] %></td>
        <td><%= player[:match_performance_count] %></td>
        <td><%= player[:goal_count] %></td>
        <td><%= player[:assist_count] %></td>
        <td><%= player[:average_match_performance] %></td>
        <td><%= link_to "Edit", edit_player_path(player[:id]), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>