<div class="col-md-4">
  <h3><%= Club.find_by(id: @matches[0].away_team)&.name %></h3>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Perf</th>
    </tr>
    <% @player_match_data.each do |player| %>
      <% if player.club_id == @matches[0].away_team %>
        <tr>
          <td><%= player.player_id %></td>
          <td><%= player.name %></td>
          <td><%= (player.player_position + player.player_position_detail).upcase %></td>
          <td><%=  player.match_performance %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>