match index
<div style="display: flex;">
  <div style="flex: 1;">
    <table>
      <h2>Home team</h2>
      <thead>
        <tr>
          <th>club</th>
          <th>name</th>
          <th>pos</th>
          <th>base_skill</th>
          <th>pos_skl</th>
          <th>total_skill</th>
          <th>match_performance</th>
        </tr>
      </thead>
      <tbody>
        <% @sqd_pl_home.each do |player| %>
          <tr>
            <td><%= player[:club] %></td>
            <td><%= player[:name] %></td>
            <td><%= player[:pos] %></td>
            <td><%= player[:base_skl] %></td>
            <td><%= player[:pos_skl] %></td>
            <td><%= player[:total_skill] %></td>
            <td><%= player[:match_performance] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div style="flex: 1;">
    <table>
      <h2>Away team</h2>
      <thead>
        <tr>
          <th>club</th>
          <th>name</th>
          <th>pos</th>
          <th>base_skill</th>
          <th>pos_skl</th>
          <th>total_skill</th>
          <th>match_performance</th>
        </tr>
      </thead>
      <tbody>
        <% @sqd_pl_away.each do |player| %>
          <tr>
            <td><%= player[:club] %></td>
            <td><%= player[:name] %></td>
            <td><%= player[:pos] %></td>
            <td><%= player[:base_skl] %></td>
            <td><%= player[:pos_skl] %></td>
            <td><%= player[:total_skill] %></td>
            <td><%= player[:match_performance] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div style="display: flex;">
  <div style="flex: 1;">
    <table>
      <h2>Team Totals</h2>
      <thead>
        <tr>
          <th>pos</th>
          <th>home</th>
          <th>away</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>dfc</td>
          <td><%= @dfc_home %></td>
          <td><%= @dfc_away %></td>
        </tr>
        <tr>
          <td>mid</td>
          <td><%= @mid_home %></td>
          <td><%= @mid_away %></td>
        </tr>
        <tr>
          <td>att</td>
          <td><%= @att_home %></td>
          <td><%= @att_away %></td>
        </tr>    
        <tr>
          <td>Total</td>
          <td><%= @dfc_home + @mid_home + @att_home %></td>
          <td><%= @dfc_away + @mid_away + @att_away %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="flex: 1;">
    <table>
      <h2>statistics</h2>
      <thead>
        <tr>
          <th>stat</th>
          <th>home</th>
          <th>away</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>possessionession</td>
            <td><%= @home_possession %></td>
            <td><%= @away_possession %></td>
          </tr>
          <tr>
            <td>Chances</td>
            <td><%= @chance_count_home %></td>
            <td><%= @chance_count_away %></td>
          </tr>
          <tr>
            <td>On target</td>
            <td><%= @chance_on_target_home %></td>
            <td><%= @chance_on_target_away %></td>
          </tr>
          <tr>
            <td>Goals</td>
            <td><%= @goal_home %></td>
            <td><%= @goal_away %></td>
          </tr>
          <tr>
            <td>man_of_the_match</td>
            <td><%= @man_of_the_match_home %></td>
            <td><%= @man_of_the_match_away %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<table>
 <h2>Minute by Minute Detail</h2>
  <thead>
    <tr>
      <th>minute</th>
      <th>home_mod</th>
      <th>away_mod</th>
      <th>chance_res</th>
      <th>chance_count_home</th>
      <th>chance_count_awayay</th>
      <th>chance_on_target?</th>
      <th>scored?</th>
      <th>assist</th>
      <th>scorer</th>
    </tr>
  </thead>
  <tbody>
    <% @res.each do |result| %>
      <tr>
        <td><%= result[:number] %></td>
        <td><%= result[:home_mod] %></td>
        <td><%= result[:away_mod] %></td>
        <td><%= result[:chance_res] %></td>
        <td><%= result[:chance_count_home] %></td>
        <td><%= result[:chance_count_away] %></td>
        <td><%= result[:chance_on_target] %></td>
        <td><%= result[:goal_scored?]%></td>
        <td><%= result[:assist_id] %></td>
        <td><%= result[:scorer] %></td>
      </tr>
    <% end %>
  </tbody>
</table>




