match index
<div style="display: flex;">
  <div style="flex: 1;">
    <table>
      <h2>Home team</h2>
      <thead>
        <tr>
          <th>club</th>
          <th>name</th>
          <th>pos</th>
          <th>base_skill</th>
          <th>pos_skl</th>
          <th>total_skill</th>
          <th>match_perf</th>
        </tr>
      </thead>
      <tbody>
        <% @sqd_pl_hm.each do |player| %>
          <tr>
            <td><%= player[:club] %></td>
            <td><%= player[:name] %></td>
            <td><%= player[:pos] %></td>
            <td><%= player[:base_skl] %></td>
            <td><%= player[:pos_skl] %></td>
            <td><%= player[:total_skill] %></td>
            <td><%= player[:match_perf] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div style="flex: 1;">
    <table>
      <h2>Away team</h2>
      <thead>
        <tr>
          <th>club</th>
          <th>name</th>
          <th>pos</th>
          <th>base_skill</th>
          <th>pos_skl</th>
          <th>total_skill</th>
          <th>match_perf</th>
        </tr>
      </thead>
      <tbody>
        <% @sqd_pl_aw.each do |player| %>
          <tr>
            <td><%= player[:club] %></td>
            <td><%= player[:name] %></td>
            <td><%= player[:pos] %></td>
            <td><%= player[:base_skl] %></td>
            <td><%= player[:pos_skl] %></td>
            <td><%= player[:total_skill] %></td>
            <td><%= player[:match_perf] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div style="display: flex;">
  <div style="flex: 1;">
    <table>
      <h2>Team Totals</h2>
      <thead>
        <tr>
          <th>pos</th>
          <th>home</th>
          <th>away</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>dfc</td>
          <td><%= @dfc_hm %></td>
          <td><%= @dfc_aw %></td>
        </tr>
        <tr>
          <td>mid</td>
          <td><%= @mid_hm %></td>
          <td><%= @mid_aw %></td>
        </tr>
        <tr>
          <td>att</td>
          <td><%= @att_hm %></td>
          <td><%= @att_aw %></td>
        </tr>    
        <tr>
          <td>Total</td>
          <td><%= @dfc_hm + @mid_hm + @att_hm %></td>
          <td><%= @dfc_aw + @mid_aw + @att_aw %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="flex: 1;">
    <table>
      <h2>Stats</h2>
      <thead>
        <tr>
          <th>stat</th>
          <th>home</th>
          <th>away</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>possession</td>
            <td><%= @hm_poss %></td>
            <td><%= @aw_poss %></td>
          </tr>
          <tr>
            <td>Chances</td>
            <td><%= @cha_count_hm %></td>
            <td><%= @cha_count_aw %></td>
          </tr>
          <tr>
            <td>On target</td>
            <td><%= @cha_on_tar_hm %></td>
            <td><%= @cha_on_tar_aw %></td>
          </tr>
          <tr>
            <td>Goals</td>
            <td><%= @goal_hm %></td>
            <td><%= @goal_aw %></td>
          </tr>
          <tr>
            <td>motm</td>
            <td><%= @motm_hm %></td>
            <td><%= @motm_aw %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<table>
 <h2>Minute by Minute Detail</h2>
  <thead>
    <tr>
      <th>minute</th>
      <th>home_mod</th>
      <th>away_mod</th>
      <th>cha_res</th>
      <th>cha_count_home</th>
      <th>cha_count_away</th>
      <th>cha_on_tar?</th>
      <th>scored?</th>
      <th>assist</th>
      <th>scorer</th>
    </tr>
  </thead>
  <tbody>
    <% @res.each do |result| %>
      <tr>
        <td><%= result[:number] %></td>
        <td><%= result[:hm_mod] %></td>
        <td><%= result[:aw_mod] %></td>
        <td><%= result[:cha_res] %></td>
        <td><%= result[:cha_count_hm] %></td>
        <td><%= result[:cha_count_aw] %></td>
        <td><%= result[:cha_on_tar] %></td>
        <td><%= result[:goal_scored?]%></td>
        <td><%= result[:assist] %></td>
        <td><%= result[:scorer] %></td>
      </tr>
    <% end %>
  </tbody>
</table>




