<%= link_to 'Run Match', match_path, method: :get, class: 'btn btn-primary' %>
<br>
<br>
<table>
  <thead>
    <tr>
      <td>pos</td>
      <td>home</td>
      <td>away</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>dfc</td>
      <td><%= @dfc %></td>
      <td>200</td>
    </tr>
    <tr>
      <td>mid</td>
      <td><%= @mid %></td>
      <td>150</td>
    </tr>
    <tr>
      <td>att</td>
      <td><%= @att %></td>
      <td>100</td>
    </tr>    
    <tr>
      <td>Total</td>
      <td><%= @dfc + @mid + @att %></td>
      <td>450</td>
    </tr>
    <tr>
      <td>Team_mod</td>
      <td><%= @team_mod %></td>
      <td>250</td>
    </tr>
  </tbody>
</table>

<br>
<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% summarize_results.each do |test, count| %>
      <tr>
        <td><%= test %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
when 0.48..0.52
      @test = 'none'
    when 0.52..0.55
      @test = 'low_home'
    when 0.55..0.60
      @test = 'med_home'
    when 0.60..Float::INFINITY
      @test = 'high_home'
    when 0.45..0.48
      @test = 'low_away'
    when 0.4..0.45
      @test = 'med_away'
    else
      @test = 'high_away'
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>MID</th>
      <th>team_Mod</th>
      <th>CHA</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result[:number] %></td>
        <td><%= result[:mid] %></td>
        <td><%= result[:team_mod] %></td>
        <td><%= result[:cha] %></td>
        <td><%= result[:test] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

