<%= link_to 'Run Match', match_path, method: :get, class: 'btn btn-primary' %>
<br>

<table>
  <h2>Team Totals</h2>
  <thead>
    <tr>
      <th>pos</th>
      <th>home</th>
      <th>away</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>dfc</td>
      <td><%= @dfc %></td>
      <td>250</td>
    </tr>
    <tr>
      <td>mid</td>
      <td><%= @mid %></td>
      <td>150</td>
    </tr>
    <tr>
      <td>att</td>
      <td><%= @att %></td>
      <td>100</td>
    </tr>    
    <tr>
      <td>Total</td>
      <td><%= @dfc + @mid + @att %></td>
      <td>450</td>
    </tr>
  </tbody>
</table>
<br>


<table>
  <h2>Stats</h2>
  <thead>
    <tr>
      <th>stat</th>
      <th>home</th>
      <th>away</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>possesion</td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
      <tr>
        <td>Chances</td>
        <td><%= @cha_home %></td>
        <td><%= @cha_away %></td>
      </tr>
      <tr>
        <td>On target</td>
        <td><%= @cha_on_tar_home %></td>
        <td><%= @cha_on_tar_away %></td>
      </tr>
      <tr>
        <td>Goals</td>
        <td><%= @goal_home %></td>
        <td><%= @goal_away %></td>
      </tr>
      <tr>
        <td>motm</td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
  </tbody>
</table>
<br>

<table>
 <h2>Minute by Minute Detail</h2>
  <thead>
    <tr>
      <th>minute</th>
      <th>home_mod</th>
      <th>away_mod</th>
      <th>cha_res</th>
      <th>cha_on_tar?</th>
      <th>scored?</th>
      <th>assist</th>
      <th>scorer</th>
    </tr>
  </thead>
  <tbody>
    <% @res.each do |result| %>
      <tr>
        <td><%= result[:number] %></td>
        <td><%= result[:hm_mod] %></td>
        <td><%= result[:aw_mod] %></td>
        <td><%= result[:cha_res] %></td>
        <td><%= result[:cha_on_tar] %></td>
        <td><%= result[:goal_scored?]%></td>
        <td><%= result[:assist] %></td>
        <td><%= result[:scorer] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

