<div class="header">
  <h2>Match Details</h2>
</div>
<div id="match">
  <div id="match_details">
    <h3><%= Club.find_by(abbreviation: @match.home_team)&.name %>(<%= @match.home_team %>)</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Match Perf</th>
      </tr>
      <% @players.each do |player| %>
        <% if player.club == @match.home_team %>
          <tr>
            <td><%= player.id %></td>
            <td><%= player.name %></td>
            <td><%= (player.position + player.player_position_detail).upcase %></td>
            <td><%= @pl_match.find { |pl_m| pl_m.player_id == player.id }&.match_performance %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div>
    <h3><%= Club.find_by(abbreviation: @match.away_team)&.name %>(<%= @match.away_team %>)</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Match Perf</th>
      </tr>
      <% @players.each do |player| %>
        <% if player.club == @match.away_team %>
          <tr>
            <td><%= player.id %></td>
            <td><%= player.name %></td>
            <td><%= (player.position + player.player_position_detail).upcase %></td>
            <td><%= @pl_match.find { |pl_m| pl_m.player_id == player.id }&.match_performance %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
<div id="match">
  <div id="match_details">
    <h3>Match Statistics</h3>
    <table>
      <tr>  
        <td>Match ID</td>
        <td><%= @match.match_id %></td>  
      <tr>
        <th>Stat</th>
        <th>Home</th>
        <th>Away</th>
      </tr>
      <tr>
        <td>Club id</td>
        <td><%= @match.home_team %></td>
        <td><%= @match.away_team %></td>
      </tr>
      <tr>
        <td>possessionession</td>
        <td><%= @match.home_possession %></td>
        <td><%= @match.away_possession %></td>
      </tr>
      <tr>
        <td>Chances</td>
        <td><%= @match.home_chance %></td>
        <td><%= @match.away_chance %></td>
      </tr>
      <tr>
        <td>On Target</td>
        <td><%= @match.home_chance_on_target %></td>
        <td><%= @match.away_chance_on_target %></td>
      </tr>
      <tr>
        <td>Goals</td>
        <td><%= @match.home_goals %></td>
        <td><%= @match.away_goals %></td>
      </tr>  
      <tr>
        <td>man_of_the_match</td>
        <td><%= @players.find { |player| player.id == @match.home_man_of_the_match.to_i }&.name %></td>
        <td><%= @players.find { |player| player.id == @match.away_man_of_the_match.to_i }&.name %></td>
      </tr> 
    </table>
  </div>
  <div id="match_details">
    <h3>Match Events</h3>
    <table>
      <tr>
        <th>Club</th>
        <th>Time</th>
        <th>Event</th>
        <th>Player</th>
      </tr>
      <% @pl_statistics.each do |pl_stat| %>
        <tr>
          <td><%= @players.find { |player| player.id == pl_stat.player_id }&.club %></td>
          <td><%= pl_stat.time %></td>
          <td><%= pl_stat.assist ? 'Assisted by' : (pl_stat.goal ? 'Goal for' : '') %></td>
          <td><%= @players.find { |player| player.id == pl_stat.player_id }&.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div id="match_commentary">
  <div>
    <table>
      <tr>
        <th style="text-align: center;">Minute</th>
        <th style="text-align: center;">Event</th>
        <th style="text-align: center;">Home</th>
        <th style="text-align: center;">v</th>
        <th style="text-align: center;">Away</th>
        <th>Commentary</th>
      </tr>
      <% comm = Commentary.where(game_id: @match.match_id) %>
      
      <% home_score = 0 %>
      <% away_score = 0 %>

      <% comm.each do |comment| %>
        <% if comment.event == 'Home Goal' %>
          <% home_score += 1 %>
        <% elsif comment.event == 'Away Goal'%>
          <% away_score += 1 %>
        <% end %>
        <tr class="<%= comment.event.downcase %>">
          <td style="text-align: center;"><strong><%= comment.minute %></strong></td>
          <td style="text-align: center;"><strong><%= comment.event %></strong></td>
          <td style="text-align: center;"><strong><%= home_score %></strong></td>
          <td style="text-align: center;"><strong>-</strong></td>
          <td style="text-align: center;"><strong><%= away_score %></strong></td>
          <td><%= comment.commentary %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
