<div class="header">
  <h2>Match Details</h2>
</div>
<div id="match">
  <div id="match_details">
    <h3><%= Club.find_by(abbreviation: @matches[0].home_team)&.name %>(<%= @matches[0].home_team %>)</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Match Perf</th>
      </tr>
      <% @player_match_data.each do |player| %>
        <% if player.club == @matches[0].home_team %>
          <tr>
            <td><%= player.id %></td>
            <td><%= player.name %></td>
            <td><%= (player.player_position + player.player_position_detail).upcase %></td>
            <td><%=  player.match_performance %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div>
    <h3><%= Club.find_by(abbreviation: @matches[0].away_team)&.name %>(<%= @matches[0].away_team %>)</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Match Perf</th>
      </tr>
      <% @player_match_data.each do |player| %>
        <% if player.club == @matches[0].away_team %>
          <tr>
            <td><%= player.id %></td>
            <td><%= player.name %></td>
            <td><%= (player.player_position + player.player_position_detail).upcase %></td>
            <td><%=  player.match_performance %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
<div id="match">
  <div id="match_details">
    <h3>Match Statistics</h3>
    <table>
      <tr>  
        <td>Match ID</td>
        <td><%= @matches[0].id %></td>  
      <tr>
        <th>Stat</th>
        <th>Home</th>
        <th>Away</th>
      </tr>
      <tr>
        <td>Club id</td>
        <td><%= Club.find_by(abbreviation: @matches[0].home_team)&.name %></td>
        <td><%= Club.find_by(abbreviation: @matches[0].away_team)&.name %></td>
      </tr>
      <% if current_user.gm? || current_user.email == Club.find_by(abbreviation: @matches[0].home_team)&.manager_email || Club.find_by(abbreviation: @matches[0].away_team)&.manager_email %>
        <tr>
          <td>Tactic</td>
          <td><%= @matches[0].tactic_home %></td>
          <td><%= @matches[0].tactic_away %></td>
        </tr>
        <tr>
          <td>DFC Blend</td>
          <td><%= @matches[0].dfc_blend_home %></td>
          <td><%= @matches[0].dfc_blend_away %></td>
        </tr>
        <tr>
          <td>MID Blend</td>
          <td><%= @matches[0].mid_blend_home %></td>
          <td><%= @matches[0].mid_blend_away %></td>
        </tr>
        <tr>
          <td>ATT Blend</td>
          <td><%= @matches[0].att_blend_home %></td>
          <td><%= @matches[0].att_blend_away %></td>
        </tr>
        <tr>
        <tr>
          <td>DFC Aggression</td>
          <td><%= @matches[0].dfc_aggression_home %></td>
          <td><%= @matches[0].dfc_aggression_away %></td>
        </tr>
        <tr>
          <td>MID Aggression</td>
          <td><%= @matches[0].mid_aggression_home %></td>
          <td><%= @matches[0].mid_aggression_away %></td>
        </tr>
        <tr>
          <td>ATT Aggression</td>
          <td><%= @matches[0].att_aggression_home %></td>
          <td><%= @matches[0].att_aggression_away %></td>
        </tr>
        <tr>
          <td>Press style</td>
          <td><%= @matches[0].home_press %></td>
          <td><%= @matches[0].away_press %></td>
        </tr>
        <tr>
      <% end %>
        <td>possession</td>
        <td><%= @matches[0].home_possession %></td>
        <td><%= @matches[0].away_possession %></td>
      </tr>
      <tr>
        <td>Chances</td>
        <td><%= @matches[0].home_chance %></td>
        <td><%= @matches[0].away_chance %></td>
      </tr>
      <tr>
        <td>On Target</td>
        <td><%= @matches[0].home_chance_on_target %></td>
        <td><%= @matches[0].away_chance_on_target %></td>
      </tr>
      <tr>
        <td>Goals</td>
        <td><%= @matches[0].home_goals %></td>
        <td><%= @matches[0].away_goals %></td>
      </tr>  
      <tr>
        <td>Man of the Match</td>
        <td><%= Player.find_by(id: @matches[0].home_man_of_the_match)&.name %></td>
        <td><%= Player.find_by(id: @matches[0].away_man_of_the_match)&.name %></td>
      </tr> 
    </table>
  </div>
  <div id="match_details">
    <h3>Match Events</h3>
    <table>
      <tr>
        <th>Minute</th>
        <th>Club</th>
        <th>Assist</th>
        <th>Scorer</th>
      </tr>
        <% @goal_information.each do |event| %>
          <tr>
            <td><%= event[:minute] %></td>
            <td><%= Club.find_by(abbreviation: Player.find_by(id: event[:assist_id])&.club)&.name %></td>
            <td><%= Player.find_by(id: event[:assist_id])&.name %></td>
            <td><%= Player.find_by(id: event[:scorer_id])&.name %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
<div id="match_commentary">
  <div>
    <table>
      <tr>
        <th style="text-align: center;">Minute</th>
        <th style="text-align: center;">Event</th>
        <th style="text-align: center;">Home</th>
        <th style="text-align: center;">v</th>
        <th style="text-align: center;">Away</th>
        <th>Commentary</th>
      </tr>
      <% comm = Commentary.where(match_id: @matches[0].match_id) %>
      
      <% home_score = 0 %>
      <% away_score = 0 %>

      <% comm.each do |comment| %>
        <% if comment.event == 'Home Goal' %>
          <% home_score += 1 %>
        <% elsif comment.event == 'Away Goal'%>
          <% away_score += 1 %>
        <% end %>
        <tr class="<%= comment.event.downcase %>">
          <td style="text-align: center;"><strong><%= comment.minute %></strong></td>
          <td style="text-align: center;"><strong><%= comment.event %></strong></td>
          <td style="text-align: center;"><strong><%= home_score %></strong></td>
          <td style="text-align: center;"><strong>-</strong></td>
          <td style="text-align: center;"><strong><%= away_score %></strong></td>
          <td><%= comment.commentary %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div>
  <%= link_to "Back", request.referrer, class: "btn btn-sm btn-primary" %>
</div>