<div class="row d-flex justify-content-center mb-5">
  <%= render 'header' %>
</div>

<div class="row d-flex justify-content-center mb-5 ms-3">
  <%= render 'home' %>
  <%= render 'statistics' %>
  <%= render 'away' %>
</div>

<div class="row d-flex justify-content-center mb-5">
  <%= render 'events' %>
</div>

<div  class="row ms-5">
<%= render 'commentary' %>
</div>

<div>
  <%= link_to "Back", request.referrer, class: "btn btn-sm btn-primary" %>
</div>