<table class="table table-hover">
  <tr>
    <th colspan="5" scope="col"><h5>Top Midfielders by Perf</h5></th>
  </tr>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Club</th>
    <th scope="col">Position</th>
    <th scope="col">Perf</th>
  </tr>
  <% @top_performance_mid.each do |player| %>
    <tr scope="row">
      <td><%= player[:id] %></td>
      <td><%= player[:name] %></td>
      <td><%= player[:club] %></td>
      <td><%= player[:position] %></td>
      <td><%= player[:performance] %></td>
    </tr>
  <% end %>
</table>