<div>
  <h3 class="text-center">League Tables</h3>
  <div class="row mb-5">
    <div class="col-md-6 d-flex flex-column align-items-center">
      <h5 class="text-center">Premier League</h5>
      <table class="table table-hover align-middle">
        <tr class="table-header small">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Played</th>
          <th scope="col">Goal diff</th>
          <th scope="col">Points</th>
        </tr>
        <% @premier_table.each.with_index(1) do |(statistics), index| %>
          <tr scope="row" class="small">
            <td><%= index %></td>
            <td><%= statistics[:name] %></td>
            <td><%= statistics[:played] %></td>
            <td><%= statistics[:goal_difference] %></td>
            <td><%= statistics[:points] %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-6 d-flex flex-column align-items-center">
    <h5 class="text-center">Championship</h5>
      <table class="table table-hover align-middle">
        <tr class="table-header small">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Played</th>
          <th scope="col">Goal diff</th>
          <th scope="col">Points</th>
        </tr>
        <% @championship_table.each.with_index(1) do |(statistics), index| %>
          <tr scope="row" class="small">
            <td><%= index %></td>
            <td><%= statistics[:name] %></td>
            <td><%= statistics[:played] %></td>
            <td><%= statistics[:goal_difference] %></td>
            <td><%= statistics[:points] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>