<form action="/turn_report" method="get">
  <label for="week_number">Select Week Number:</label>
  <select name="week_number" id="week_number">
    <% @weeks.each do |week_number| %>
      <option value="<%= week_number %>">Week <%= week_number %></option>
    <% end %>
  </select>
  <label for="comp">Select Competition:</label>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>

<h3 class="mb-5 mt-5">Week: <%= params[:week_number]%></h3>

<% if @gm_messages.present? %>
<%= render 'gm_messages' %>
<% end %>

<%= render 'game_messages' %>

<%= render 'public_messages' %>

<%= render 'results' %>

<%= render 'friendlies' %>

<%= render 'fixtures' %>

<%= render 'mini_table' %>

<%= render 'transfers' %>

<%= render 'injured' %>


