<ul class="nav">
  <div id='nav-center'>
  <li class="nav-item">
    <a href="/" class="btn btn-outline-dark">Home</a>
  </li>
  <% if current_user && (current_user.manager? || current_user.gm?) %> 
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          My Club
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= clubs_manager_club_view_path %>">Club View</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_first_team_path %>">First Team</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_players_contract_path %>">Players Contract</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_team_statistics_path %>">Team Statistics</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_team_selection_path %>">Team Selection</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_results_path %>">Results</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_fixtures_path %>">Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_history_path %>">History</a></li>
          <li><a class="dropdown-item" href="<%= new_turnsheet_path %>">Turnsheet</a></li>
        </ul>
      </div>
  </li>
  <% end %>
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Leagues
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= leagues_premier_table_path %>">Premier League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_premier_statistics_path %>">Premier League Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_premier_fixtures_path %>">Premier League Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_championship_table_path %>">Championship Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_championship_statistics_path %>">Championship Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_championship_fixtures_path %>">Championship Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_ligue_1_table_path %>">Ligue 1 League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_ligue_1_statistics_path %>">Ligue 1 Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_ligue_1_fixtures_path %>">Ligue 1 Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_ligue_2_table_path %>">Ligue 2 League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_ligue_2_statistics_path %>">Ligue 2 Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_ligue_2_fixtures_path %>">Ligue 2 Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_bundesliga_1_table_path %>">Bundesliga 1 League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_bundesliga_1_statistics_path %>">Bundesliga 1 Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_bundesliga_1_fixtures_path %>">Bundesliga 1 Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_bundesliga_2_table_path %>">Bundesliga 2 League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_bundesliga_2_statistics_path %>">Bundesliga 2 Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_bundesliga_2_fixtures_path %>">Bundesliga 2 Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_la_liga_table_path %>">La Liga League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_la_liga_statistics_path %>">La Liga Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_la_liga_fixtures_path %>">La Liga Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_segunda_division_table_path %>">Segunda Division League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_segunda_division_statistics_path %>">Segunda Division Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_segunda_division_fixtures_path %>">Segunda Division Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_serie_a_table_path %>">Serie A League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_serie_a_statistics_path %>">Serie A Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_serie_a_fixtures_path %>">Serie A Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_serie_b_table_path %>">Serie B League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_serie_b_statistics_path %>">Serie B Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_serie_b_fixtures_path %>">Serie B Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_brasileiro_serie_a_table_path %>">Brasileiro Serie A League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_brasileiro_serie_a_statistics_path %>">Brasileiro Serie A Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_brasileiro_serie_a_fixtures_path %>">Brasileiro Serie A Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= leagues_brasileiro_serie_b_table_path %>">Brasileiro Serie B League Table</a></li>
          <li><a class="dropdown-item" href="<%= leagues_brasileiro_serie_b_statistics_path %>">Brasileiro Serie B Statistics</a></li>
          <li><a class="dropdown-item" href="<%= leagues_brasileiro_serie_b_fixtures_path %>">Brasileiro Serie B Fixtures</a></li>
        </ul>
      </div>
  </li>
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Cups
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= leagues_league_cup_league_path %>">League Cup</a></li>
          <li><a class="dropdown-item" href="<%= leagues_wcc_league_path %>">WCC</a></li>
        </ul>
      </div>
  </li>
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Players
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= players_path %>">Players</a></li>
          <li><a class="dropdown-item" href="<%= transfers_path %>">Completed Transfers</a></li>
          <li><a class="dropdown-item" href="<%= players_listed_players_path %>">Listed Players</a></li>
          <li><a class="dropdown-item" href="<%= players_unmanaged_players_path %>">Free Agents</a></li>
        </ul>
      </div>
  </li>
  <% if current_user && current_user.gm? %> 
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Admin
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= clubs_path %>">View and Edit Clubs</a></li>
          <li><a class="dropdown-item" href="<%= new_club_path %>">Create A Club</a></li>
          <li><a class="dropdown-item" href="<%= players_path %>">View and Edit Players</a></li>
          <li><a class="dropdown-item" href="<%= new_player_path %>">Create A Player</a></li>
          <li><a class="dropdown-item" href="<%= fixtures_path %>">View and Edit Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= new_fixture_path %>">Create A Fixture</a></li>
          <li><a class="dropdown-item" href="<%= turnsheets_path %>">Turnsheet</a></li>
          <li><a class="dropdown-item" href="<%= turns_path %>">Turn Processing</a></li>
        </ul>
      </div>
  </li>
  <% end %>
  <li class="nav-item ms-auto">
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          User
        </button>
        <ul class="dropdown-menu">
          <% if current_user %> 
            <li><a class="dropdown-item" <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %></a></li>
          <% else %>
            <li><a class="dropdown-item" <%= link_to "Sign up", new_user_registration_path %></a></li>
            <li><a class="dropdown-item" <%= link_to "Sign in", new_user_session_path %></a></li>
          <% end %>
        </ul>
      </div>
  </li>
  </div>
</ul>
