<ul class="nav">
  <div id='nav-center'>
  <li class="nav-item">
    <a href="/" class="btn btn-outline-dark">Home</a>
  </li>
  <li class="nav-item">
    <a href="<%= articles_path %>" class="btn btn-outline-dark">Articles</a>
  </li>
  <% if current_user && current_user.club >= 1 %> 
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          My Club
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= clubs_manager_club_view_path %>">Club Information</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_finance_path %>">Finance</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_first_team_path %>">First Team</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_players_contract_path %>">Players Contract</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_team_statistics_path %>">Team Statistics</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_results_path %>">Results</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_fixtures_path %>">Fixtures</a></li>
          <li><a class="dropdown-item" href="<%= clubs_manager_history_path %>">History</a></li>
          <li><a class="dropdown-item" href="<%= new_turnsheet_path %>">New Turnsheet</a></li>
          <li><a class="dropdown-item" href="<%= turnsheets_path %>">View Turnsheets</a></li>
        </ul>
      </div>
  </li>
  
  <li class="nav-item">
    <a href="<%= turn_report_path %>" class="btn btn-outline-dark">Turns</a>
  </li>

  <% end %>
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Leagues
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Premier League') %>">Premier League</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Championship') %>">Championship</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Ligue 1') %>">Ligue 1</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Ligue 2') %>">Ligue 2</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Bundesliga 1') %>">Bundesliga 1</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Bundesliga 2') %>">Bundesliga 2</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'La Liga') %>">La Liga</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Segunda Division') %>">Segunda Division</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Serie A') %>">Serie A</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Serie B') %>">Serie B</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Brasileiro Serie A') %>">Brasileiro Serie A</a></li>
          <li><a class="dropdown-item" href="<%= leagues_path(league: 'Brasileiro Serie B') %>">Brasileiro Serie B</a></li>
        </ul>
      </div>
  </li>
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Cups
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= leagues_league_cup_league_path(league: 'League Cup') %>">League Cup</a></li>
          <li><a class="dropdown-item" href="<%= leagues_wcc_league_path(league: 'WCC') %>">WCC</a></li>
        </ul>
      </div>
  </li>
  <li class="nav-item">
    <a href="<%= fixtures_path %>" class="btn btn-outline-dark">Fixtures/Results</a>
  </li>
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Players
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= players_path %>">Players</a></li>
          <li><a class="dropdown-item" href="<%= transfers_path %>">Completed Transfers</a></li>
          <li><a class="dropdown-item" href="<%= players_listed_players_path %>">Listed Players</a></li>
          <li><a class="dropdown-item" href="<%= players_unmanaged_players_path %>">Free Agents</a></li>
        </ul>
      </div>
  </li>
  <li class="nav-item">
    <a href="<%= help_path %>" class="btn btn-outline-dark">Help</a>
  </li>
  <% if current_user && current_user.gm? %> 
  <li class="nav-item">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Admin
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="<%= turns_gm_admin_path %>">GM Admin</a></li>
          <li><a class="dropdown-item" href="<%= new_selection_path %>">Add Selections</a></li>
          <li><a class="dropdown-item" href="<%= selections_path %>">Edit Selections</a></li>
          <li><a class="dropdown-item" href="<%= turns_path %>">Turn Processing</a></li>
          <li><a class="dropdown-item" href="<%= turnsheets_path %>">Turnsheets</a></li>
          <li><a class="dropdown-item" href="<%= articles_path %>">View and Edit Articles</a></li>
          <li><a class="dropdown-item" href="<%= new_article_path %>">Create Articles</a></li>
          <li><a class="dropdown-item" href="<%= clubs_path %>">View and Edit Clubs</a></li>
          <li><a class="dropdown-item" href="<%= new_club_path %>">Create A Club</a></li>
          <li><a class="dropdown-item" href="<%= new_player_path %>">Create A Player</a></li>
          <li><a class="dropdown-item" href="<%= new_fixture_path %>">Create A Fixture</a></li>
          <li><a class="dropdown-item" href="<%= players_player_value_update_path %>">Run player values updates</a></li>
          <li><a class="dropdown-item" href="<%= players_adjust_duplicate_names_path %>">Adjust Duplicate Player Names</a></li>
        </ul>
      </div>
  </li>
  <% end %>
  <li class="nav-item ms-auto">
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          User
        </button>
        <ul class="dropdown-menu">
          <% if current_user %> 
            <li><a class="dropdown-item" <%= link_to "My Account", users_path %></a></li>
            <li><a class="dropdown-item" <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %></a></li>
          <% else %>
            <li><a class="dropdown-item" <%= link_to "Sign up", new_user_registration_path %></a></li>
            <li><a class="dropdown-item" <%= link_to "Sign in", new_user_session_path %></a></li>
          <% end %>
        </ul>
      </div>
  </li>
  </div>
</ul>
