<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">For The Win</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <% if current_user&.manager? || current_user&.gm? %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Club
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="<%= clubs_manager_club_view_path %>">Club View</a></li>
              <li><a class="nav-link" href="<%= clubs_manager_first_team_path %>">First Team</a></li>
              <li><a class="nav-link" href="<%= clubs_manager_team_statistics_path %>">Team Statistics</a></li>
              <li><a class="nav-link" href="<%= clubs_manager_team_selection_path %>">Team Selection</a></li>
              <li><a class="nav-link" href="<%= clubs_manager_results_path %>">Results</a></li>
              <li><a class="nav-link" href="<%= clubs_manager_fixtures_path %>">Fixtures</a></li>
              <li><a class="nav-link" href="<%= clubs_manager_history_path %>">History</a></li>
            </ul>
          </li>
        <% end %>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            League
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="<%= leagues_premier_table_path %>">Premier League Table</a></li>
              <li><a class="nav-link" href="<%= leagues_premier_statistics_path %>">Premier League Statistics</a></li>
              <li><a class="nav-link" href="<%= leagues_premier_fixtures_path %>">Premier League Fixtures</a></li>
              <li><a class="nav-link" href="<%= leagues_championship_table_path %>">Championship Table</a></li>
              <li><a class="nav-link" href="<%= leagues_championship_statistics_path %>">Championship Statistics</a></li>
              <li><a class="nav-link" href="<%= leagues_championship_fixtures_path %>">Championship Fixtures</a></li>
            </ul>
          </li>


        <li class="nav-item">
          <a class="nav-link" href="<%= leagues_cup_league_path %>">League Cup</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= players_path %>">Players</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Transfer
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="<%= players_path %>">Completed Transfers</a></li>
            <li><a class="nav-link" href="<%= players_path %>">Listed Players</a></li>
            <li><a class="nav-link" href="<%= players_path %>">Unsigned Players</a></li>
          </ul>
        </li>

        <% if current_user&.manager? || current_user&.gm? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_turnsheet_path %>">Turnsheet</a>
        </li>
        <% end %>

        <% if current_user&.gm? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
            </a>
            <ul class="dropdown-menu">
              <li>Club Functions</li>
              <li><a class="nav-link" href="<%= clubs_path %>">View and Edit Clubs</a></li>
              <li><a class="nav-link" href="<%= new_club_path %>">Create A Club</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>Player Functions</li>
              <li><a class="nav-link" href="<%= players_path %>">View and Edit Players</a></li>
              <li><a class="nav-link" href="<%= new_player_path %>">Create A Player</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>Fixture Functions</li>
              <li><a class="nav-link" href="<%= fixtures_path %>">View Fixtures</a></li>
              <li><a class="nav-link" href="<%= new_fixture_path %>">Create A Fixture</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>Turn Functions</li>
              <li><a class="nav-link" href="<%= turnsheets_path %>">Turnsheet</a></li>
              <li><a class="nav-link" href="<%= turns_path %>">Turn Actions</a></li>
              <li><a class="nav-link" href="<%= fixtures_path %>">Fixtures</a></li>
            </ul>
          </li>
        <% end %>  

        <li class="nav-item"> 
          <% if current_user %> 
            <a class="nav-link" <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %></a>
          <% else %>
            <li class="nav-item">
              <a class="nav-link ms-auto" <%= link_to "Sign up", new_user_registration_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-auto" <%= link_to "Sign in", new_user_session_path %></a>
            </li>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
</nav>
